html { -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

html::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

img { display: block; }

a { text-decoration: none; color: #111; display: block; }

.container { max-width: 1400px; margin: auto; }

@media (min-width: 1024px) and (max-width: 1399px) { .container { max-width: 100%; margin: auto; padding: 0 20px; } }

@media (min-width: 906px) and (max-width: 1024px) { .container { padding: 0 10px; } }

.m_line { display: block; height: 7px; border-top: 1px solid #ccc; background-color: #e6e6e6; content: ""; margin: 10px -10px; }

@media (min-width: 1024px) { .m_line { margin: 10px 0; height: 1px; } }

#footer { margin-top: 50px; border: 1px solid transparent; background: #efefef; }

@media (max-width: 767px) { #footer { margin-top: 10px; border-top: 2px solid #b6b6b6; } }

#footer .container { padding: 0 20px; height: 500px; }

#footer .container .content > .service_center { margin: 12.5px 0 18.75px 0; padding: 21px 0 35px 0; display: -webkit-box; display: -ms-flexbox; display: flex; height: 89px; border-bottom: 1px solid #ccc; }

#footer .container .content > .service_center .faq, #footer .container .content > .service_center .Find_store, #footer .container .content > .service_center .subscribe, #footer .container .content > .service_center .sns { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

#footer .container .content > .service_center .faq { padding: 0 12.5px; }

#footer .container .content > .service_center .faq > label { display: inline-block; font-size: 1.325rem; font-weight: 400; color: #333; line-height: 29px; margin-bottom: 5px; }

#footer .container .content > .service_center .faq > a { line-height: 20px; color: #0060a9; font-weight: bold; font-size: 18px; }

#footer .container .content > .service_center .faq > a::before { content: "?"; margin-right: 10px; color: #efefef; border-radius: 50%; background: #0060a9; height: 25px; width: 25px; display: inline-block; text-align: center; padding: 0; }

#footer .container .content > .service_center .faq > a:hover > span { text-decoration: underline; }

#footer .container .content > .service_center .Find_store { padding: 0 12.5px; }

#footer .container .content > .service_center .Find_store > label { display: inline-block; font-size: 1.325rem; font-weight: 400; color: #333; line-height: 29px; margin-bottom: 5px; }

#footer .container .content > .service_center .Find_store .store__input { position: relative; }

#footer .container .content > .service_center .Find_store .store__input > input { min-height: 40px; border: 1px solid #9c9c9c; display: block; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; height: 40px; padding: 10px 16px; font-size: 18px; line-height: 1.3333333; border-radius: 0; color: #333333; }

#footer .container .content > .service_center .Find_store .store__input > input:focus { outline: none; }

#footer .container .content > .service_center .Find_store .store__input > img { position: absolute; right: 2%; top: 0; bottom: 0; margin: auto; width: 35px; -webkit-filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); }

#footer .container .content > .service_center .subscribe { padding: 0 12.5px; }

#footer .container .content > .service_center .subscribe > label { display: inline-block; font-size: 1.325rem; font-weight: 400; color: #333; line-height: 29px; margin-bottom: 5px; }

#footer .container .content > .service_center .subscribe p { color: #0060a9; font-size: 24px; }

#footer .container .content > .service_center .sns { padding: 0 12.5px; }

#footer .container .content > .service_center .sns > label { display: inline-block; font-size: 1.325rem; font-weight: 400; color: #333; line-height: 29px; margin-bottom: 5px; }

#footer .container .content > .service_center .sns .icons { display: -webkit-box; display: -ms-flexbox; display: flex; }

#footer .container .content > .service_center .sns .icons .icon { padding-right: 15px; }

#footer .container .content > .service_center .sns .icons .icon img { width: 100%; width: 32px; }

#footer .container .content .information { margin: 0 -12.5px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#footer .container .content .information .introduce, #footer .container .content .information .membership, #footer .container .content .information .service_center, #footer .container .content .information .store, #footer .container .content .information .partners { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-bottom: 18.75px; }

#footer .container .content .information .introduce > ul > li, #footer .container .content .information .membership > ul > li, #footer .container .content .information .service_center > ul > li, #footer .container .content .information .store > ul > li, #footer .container .content .information .partners > ul > li { margin-bottom: 7px; line-height: 24px; }

#footer .container .content .information .introduce > ul > li:nth-child(1), #footer .container .content .information .membership > ul > li:nth-child(1), #footer .container .content .information .service_center > ul > li:nth-child(1), #footer .container .content .information .store > ul > li:nth-child(1), #footer .container .content .information .partners > ul > li:nth-child(1) { margin-bottom: 10px; font-size: 18px; color: #333; }

#footer .container .content .information .introduce > ul > li:nth-child(1) > h1:hover, #footer .container .content .information .membership > ul > li:nth-child(1) > h1:hover, #footer .container .content .information .service_center > ul > li:nth-child(1) > h1:hover, #footer .container .content .information .store > ul > li:nth-child(1) > h1:hover, #footer .container .content .information .partners > ul > li:nth-child(1) > h1:hover { text-decoration: underline; }

#footer .container .content .information .introduce > ul > li > a, #footer .container .content .information .membership > ul > li > a, #footer .container .content .information .service_center > ul > li > a, #footer .container .content .information .store > ul > li > a, #footer .container .content .information .partners > ul > li > a { font-size: 14px; color: #5f5f5f; }

#footer .container .content .information .introduce > ul > li > a:hover, #footer .container .content .information .membership > ul > li > a:hover, #footer .container .content .information .service_center > ul > li > a:hover, #footer .container .content .information .store > ul > li > a:hover, #footer .container .content .information .partners > ul > li > a:hover { text-decoration: underline; }

#footer .container .content .bottom { margin: 14px 0; }
