html { height: 5000px; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

html::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

img { display: block; }

a { text-decoration: none; color: #111; display: block; }

.container { max-width: 1400px; margin: auto; }

@media (min-width: 1024px) and (max-width: 1399px) { .container { max-width: 100%; margin: auto; padding: 0 20px; } }

@media (min-width: 906px) and (max-width: 1024px) { .container { padding: 0 10px; } }

#header { background-color: #efefef; }

@media (min-width: 1024px) and (max-width: 1399px) { #header .container .row { margin: 0 0 -0.625rem; } }

#header .container .row .flex-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#header .container .row .flex-box .item-top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding: 0 1.25rem; margin-bottom: -13px; }

@media (min-width: 1024px) and (max-width: 1399px) { #header .container .row .flex-box .item-top { padding: 0; } }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top { margin: 0; } }

@media (min-width: 767px) and (max-width: 906px) { #header .container .row .flex-box .item-top { padding: 0; margin-left: 180px; max-width: 600px; margin-bottom: 0; } }

@media (max-width: 767px) { #header .container .row .flex-box .item-top { height: 60px; margin: 0; } }

#header .container .row .flex-box .item-top .menu-bar { font-size: 1rem; }

#header .container .row .flex-box .item-top .menu-bar .items { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top .menu-bar .items { padding: 3px 7px; } }

@media (min-width: 767px) and (max-width: 906px) { #header .container .row .flex-box .item-top .menu-bar .items { -ms-flex-wrap: wrap; flex-wrap: wrap; } }

@media (max-width: 767px) { #header .container .row .flex-box .item-top .menu-bar .items { display: none; } }

#header .container .row .flex-box .item-top .menu-bar .items .item { padding-right: 1.875rem; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top .menu-bar .items .item { padding-right: 18px; height: 56px; } }

@media (min-width: 767px) and (max-width: 906px) { #header .container .row .flex-box .item-top .menu-bar .items .item { padding-right: 18px; } }

#header .container .row .flex-box .item-top .menu-bar .items .item a { line-height: 2.5rem; }

#header .container .row .flex-box .item-top .menu-bar .items .item a span { color: #0060a9; }

#header .container .row .flex-box .item-top .menu-bar .items .item a:hover, #header .container .row .flex-box .item-top .menu-bar .items .item a:focus { text-decoration: underline; }

#header .container .row .flex-box .item-top .menu-bar .items .item a:hover span, #header .container .row .flex-box .item-top .menu-bar .items .item a:focus span { color: #00355d; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top .menu-bar .items .item a { font-size: 0.85rem; } }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top .menu-bar .items .item a span { color: #3d3d3d; } }

@media (min-width: 767px) and (max-width: 906px) { #header .container .row .flex-box .item-top .menu-bar .items .item a span { font-size: 0.9rem; } }

@media (min-width: 767px) and (max-width: 906px) { #header .container .row .flex-box .item-top .menu-bar .items .item:last-child a span { font-size: 1rem; } }

#header .container .row .flex-box .item-top .menu-bar .items .item.language { margin-right: 1.25rem; padding: 0; width: 67px; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top .menu-bar .items .item.language { width: auto; padding-right: 1.875rem; margin: 0; } }

#header .container .row .flex-box .item-top .menu-bar .items .item.country { margin-right: 1.25rem; padding: 0; width: 150px; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-top .menu-bar .items .item.country { width: auto; padding-right: 1.875rem; margin: 0; } }

#header .container .row .flex-box .item-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; }

@media (max-width: 1024px) { #header .container .row .flex-box .item-bottom { padding-bottom: 12.4px; } }

@media (max-width: 767px) { #header .container .row .flex-box .item-bottom { padding: 0 5px 12px 5px; } }

#header .container .row .flex-box .item-bottom .logoBox { -webkit-box-flex: 2.5; -ms-flex: 2.5; flex: 2.5; }

@media (max-width: 1024px) { #header .container .row .flex-box .item-bottom .logoBox { position: absolute; top: 1%; left: 1.5%; width: 155px; } }

#header .container .row .flex-box .item-bottom .logoBox img { max-width: 81%; margin-bottom: 23.1px; }

@media (min-width: 1200px) and (max-width: 1399px) { #header .container .row .flex-box .item-bottom .logoBox img { max-width: 95%; } }

@media (max-width: 1024px) { #header .container .row .flex-box .item-bottom .logoBox img { max-width: 100%; } }

@media (min-width: 1024px) and (max-width: 1399px) { #header .container .row .flex-box .item-bottom .logoBox { padding-right: 1.25rem; max-width: 251px; padding: 0; } }

#header .container .row .flex-box .item-bottom .menuBox { display: none; }

@media (max-width: 1024px) { #header .container .row .flex-box .item-bottom .menuBox { display: -webkit-box; display: -ms-flexbox; display: flex; width: 140px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #header .container .row .flex-box .item-bottom .menuBox .btn { background-color: #0073a6; color: #fff; font-size: 1.2rem; display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 20px; margin-left: 5px; width: 100%; height: 45px; padding: 0 15px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }
  #header .container .row .flex-box .item-bottom .menuBox .btn span { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }
  #header .container .row .flex-box .item-bottom .menuBox .btn span:nth-child(1) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

#header .container .row .flex-box .item-bottom .searchBox { -webkit-box-flex: 6; -ms-flex: 6; flex: 6; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 1024px) and (max-width: 1200px) { #header .container .row .flex-box .item-bottom .searchBox { -webkit-box-flex: 5; -ms-flex: 5; flex: 5; } }

#header .container .row .flex-box .item-bottom .searchBox span { display: -webkit-box; display: -ms-flexbox; display: flex; width: 94%; border: 1px solid #0060a9; }

@media (max-width: 1024px) { #header .container .row .flex-box .item-bottom .searchBox span { width: 98%; } }

#header .container .row .flex-box .item-bottom .searchBox span input { width: 100%; padding: 4px 10px; height: 2rem; font-size: 1rem; border: none; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-bottom .searchBox span input { padding: 10px 16px; height: 1.563rem; } }

@media (max-width: 767px) { #header .container .row .flex-box .item-bottom .searchBox span input { padding: 10px 0 10px 10px; } }

#header .container .row .flex-box .item-bottom .searchBox span a { padding-right: 3%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; }

#header .container .row .flex-box .item-bottom .searchBox span a img { -webkit-filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); right: 3%; width: 27px; }

#header .container .row .flex-box .item-bottom .loginBox { -webkit-box-flex: 2; -ms-flex: 2; flex: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

@media (min-width: 906px) and (max-width: 1024px) { #header .container .row .flex-box .item-bottom .loginBox { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }

@media (max-width: 767px) { #header .container .row .flex-box .item-bottom .loginBox { position: absolute; top: 1%; right: 1%; } }

#header .container .row .flex-box .item-bottom .loginBox ul { display: none; }

@media (min-width: 1024px) { #header .container .row .flex-box .item-bottom .loginBox ul { display: -webkit-box; display: -ms-flexbox; display: flex; } }

#header .container .row .flex-box .item-bottom .loginBox ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px 0; }

#header .container .row .flex-box .item-bottom .loginBox ul li a { color: #00355d; padding-right: 1rem; font-size: 18.2px; }

#header .container .row .flex-box .item-bottom .loginBox ul li:nth-child(1) a:hover { text-decoration: underline; }

#header .container .row .flex-box .item-bottom .loginBox ul li:nth-child(2) a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; line-height: 25.48px; padding: 6.9px 0 6.9px 11.8px; border-left: 1px solid #0060a9; }

#header .container .row .flex-box .item-bottom .loginBox ul li:nth-child(2) a span { padding: 0 0.2rem; font-size: 18.2px; }

#header .container .row .flex-box .item-bottom .loginBox ul li:nth-child(2) a span img { width: 24px; height: 24px; -webkit-filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); }

#header .container .row .flex-box .item-bottom .loginBox ul li:nth-child(2) a:hover span { color: #111; }

#header .container .row .flex-box .item-bottom .loginBox ul li:nth-child(2) a:hover span img { -webkit-filter: invert(0%) sepia(9%) saturate(36%) hue-rotate(241deg) brightness(109%) contrast(101%); filter: invert(0%) sepia(9%) saturate(36%) hue-rotate(241deg) brightness(109%) contrast(101%); }

#header .container .row .flex-box .item-bottom .loginBox .icons { display: -webkit-box; display: -ms-flexbox; display: flex; padding-right: 1rem; font-size: 0.8rem; font-weight: bold; color: #0073a6; }

#header .container .row .flex-box .item-bottom .loginBox .icons .icon { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 0 10px; gap: 5px; width: 65px; border-right: 1px solid #0073a6; cursor: pointer; }

#header .container .row .flex-box .item-bottom .loginBox .icons .icon span { display: block; }

#header .container .row .flex-box .item-bottom .loginBox .icons .icon span img { width: 1.875rem; -webkit-filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%); }

#header .container .row .flex-box .item-bottom .loginBox .icons .icon:nth-child(3) { border: none; padding: 0; }

@media (min-width: 1024px) { #header .container .row .flex-box .item-bottom .loginBox .icons { display: none; } }
