/* GLOBAL */
html {
  font-size: 100%;
  font-family: "Nanum Gothic", sans-serif;
}
img {
  display: block;
}
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}
.inner {
  width: 112rem;
  margin: auto;
  padding: 0 2.5rem 0 1.25rem;
}
.row {
  margin-left: 160px;
}

/* COVID19 */
.covid19 {
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.covid19 .item:nth-child(n + 2) {
  vertical-align: middle;
  margin-left: 50px;
}
.covid19 .item img {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  height: 15px;
}
.covid19 .item a {
  color: #fff;
}
.covid19 .item a:hover {
  border-bottom: 1px solid #fff;
}
.covid19 .item a span {
  display: inline-block;
  vertical-align: middle;
}

/* HEADER */
header {
}
header .inner {
  display: flex;
  align-items: center;
  height: 100px;
}
header .hamburger {
  padding: 0 50px;
}
header .hamburger img {
  width: 1.5rem;
  padding: 10px;
  border: transparent;
  border-radius: 50%;
}
header .hamburger:hover img {
  background-color: #f5f5f5;
}
header .logo {
  padding: 0 15px;
}
header .link-1 {
  margin-left: 25px;
}
header .link-1 a {
  text-align: center;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px;
  position: relative;
}
header .link-1 a:hover::after {
  content: "";
  height: 1px;
  width: calc(100% - 20px);
  display: block;
  border-bottom: 1px solid #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
header .search {
  margin: 0 30px;
  position: relative;
  position: relative;
}
header .search::before {
  background-image: url("../images/search_black_24dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 25px;
}
header .search input {
  font-size: 0.9rem;
  font-weight: 700;
  background-color: #f5f5f5;
  display: inline-block;
  padding: 15px 55px;
  width: 900px;
  height: 25px;
  outline: none;
  border-radius: 40px;
  border: transparent;
}
header .search img {
  padding: 5px;
  border: transparent;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
}
header .search img:hover {
  background-color: #e2e2e2;
}
header .icons {
  display: flex;
  margin-left: 20px;
}
header .icons .icon {
  padding: 15px;
}

/* SECTION */
section {
}
section .inner {
  margin-top: 60px;
}
section .inner .main_1 {
  height: 600px;
  display: flex;
}
section .inner .main_1 .main__img {
  display: inline-block;
  height: 100%;
}
section .inner .main_1 .main__content {
  color: #000;
  display: inline-block;
  background-color: #b1d8f5;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}
section .inner .main_1 .main__content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}
section .inner .main_1 .main__content p {
  margin-bottom: 15px;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.05rem;
}
section .inner .main_1 .main__content a {
  color: #fff;
}
section .inner .main_1 .main__content .btn {
  padding: 15px 25px;
  margin-top: 20px;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: #000;
  border-radius: 50px;
}
section .inner .main_1 .main__content .btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

section .main_2 {
}
section .main_2 .items {
}
section .main_2 .items .item {
}
