/* GLOBAL */
html {
  font-size: 100%;
  font-family: "Nanum Gothic", sans-serif;
}
body {
  height: 5000px;
}

img {
  display: block;
}
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}
.inner {
  padding: 0 2.5rem 0 1.25rem;
}

@media screen and (min-width: 1688px) {
  .inner {
    width: 1597px;
    margin: auto;
  }
}

/* COVID19 */
.covid19 {
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}
.covid19 .item:nth-child(n + 2) {
  vertical-align: middle;
  margin-left: 50px;
}
.covid19 .item img {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  height: 15px;
}
.covid19 .item a {
  color: #fff;
}
.covid19 .item a:hover {
  border-bottom: 1px solid #fff;
}
.covid19 .item a span {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .covid19 .item:nth-child(n + 2) {
    margin-left: 40px;
  }
  .inner {
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .covid19 .item {
    display: none;
  }
  .covid19 .item:nth-child(3) {
    display: block;
    margin: 0;
    padding: 7px 0 7px 10px;
  }
}
@media screen and (max-width: 600px) {
  .covid19 {
    justify-content: flex-start;
  }
}

/* HEADER */
header {
  /* position: fixed; */
  /* width: 100%; */
  background-color: #fff;
}
header .inner .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .inner .row .hamburger {
  display: flex;
  justify-content: center;
  width: 100px;
  margin-right: 1.25rem;
}
header .inner .row .hamburger > span {
  display: block;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}
header .inner .row .hamburger > span::after {
  content: "";
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
  z-index: -1;
}
header .inner .row .hamburger > span:hover::after {
  display: block;
}

header .inner .row .logo {
  padding: 0.9375rem 0;
}

header .inner .row .logo img {
  width: 75px;
  height: 30px;
}
header .inner .row .content {
  display: flex;
  margin-left: 2rem;
}
header .inner .row .content > a {
  padding: 10px 15px;
  font-weight: 800;
  font-size: 0.9rem;
  color: #000;
  position: relative;
}
header .inner .row .content > a::after {
  content: " ";
  width: calc(100% - 30px);
  height: 1px;
  border-bottom: 1px solid #000;
  display: none;
  position: absolute;
}
header .inner .row .content > a:hover::after {
  display: block;
}

header .inner .row .icons {
  display: flex;
  width: calc(100% - 75px);
  justify-content: flex-end;
}
header .inner .row .icon {
  margin-left: 3px;
  margin-top: 5px;
}
header .inner .row .icon:last-child {
  display: none;
}

header .inner .row .icon > span {
  display: inline-block;
  position: relative;
  padding: 10px 10px;
}
header .inner .row .icon > span::after {
  content: " ";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(17, 17, 17, 0.1);
}
header .inner .row .icon > span:hover::after {
  display: block;
}

header .inner .row .search {
  flex: 1;
  position: relative;
}
header .inner .row .search > img {
  position: absolute;
}
header .inner .row .search .photo {
  right: 1.25rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .inner .row .search .search_icon {
  left: 1.563rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .inner .row .search > input {
  font-size: 0.9rem;
  font-weight: 700;
  background-color: rgba(245, 245, 245, 1);
  display: inline-block;
  padding: 0.4375rem 3.438rem;
  height: 2.75rem;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2.5rem;
  border: transparent;
}
header .inner .row .search > input:hover {
  background-color: rgba(00, 00, 00, 0.1);
}

@media screen and (min-width: 900px) {
  header .inner .row {
    margin-top: 0.9375rem;
  }
  header .inner .row .logo img {
    width: 96px;
    height: 36px;
  }
  header .inner .row .search input {
    height: 54px;
  }
}

@media screen and (min-width: 700px) {
  header .inner .row .icons {
    width: auto;
    order: 3;
  }
  header .inner .row .search {
    margin: 0 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .inner {
    padding: 0 3rem;
  }
  header .inner .row .icon:last-child {
    display: block;
  }
  header .inner .row .icon:first-child {
    display: none;
  }
  header .inner .row .content {
    display: none;
  }
  header .inner .row .hamburger {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .inner {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .inner {
    padding: 0 1.25rem;
  }
  header {
    position: static;
  }
}

/* SECTION */

section {
  margin-bottom: 2.5rem;
}
section .inner .row {
  margin-left: 7.5rem;
  position: relative;
}
section .inner .row .message {
  padding: 2.5rem;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}
section .inner .row .message .title {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 1.5rem;
}
section .inner .row .message p {
  font-size: 0.9rem;
  line-height: 20px;
  font-weight: 500;
}

section .inner .row .content {
  display: flex;
  flex-direction: column;
  color: #000;
}
section .inner .row .content .content__60 {
  flex: 6;
  overflow: hidden;
}
section .inner .row .content .content__60 > img {
  object-fit: cover;
  object-position: center;
}
section .inner .row .content .content__40 {
  flex: 4;
  padding: 2.5rem;
  padding-bottom: 60px;
  background-color: #b1d8f5;
}
section .inner .row .content .content__40 .title {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}
section .inner .row .content .content__40 p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  line-height: 1.3rem;
}

section .inner .row .content .content__40 .btn {
  padding: 15px 1.5rem;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 800;
  margin-top: 2rem;
  display: inline-block;
}
section .inner .row .content .content__40 .btn:hover {
  background-color: rgba(00, 00, 00, 0.8);
}

section .inner .row .title {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  font-weight: 800;
}
section .inner .row .slider-wrap {
  overflow: hidden;
  padding-bottom: 2rem;
}
section .inner .row:hover .arrow {
  display: block;
}

section .inner .row .arrow {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  cursor: pointer;
  z-index: 1;
}
section .inner .row .arrow:nth-child(1) {
  right: -10px;
}
section .inner .row .arrow:nth-child(2) {
  left: -10px;
}

section .inner .row .arrow .icon {
  padding: 7.5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #000;
}

section .inner .row .slider-wrap .slider {
  display: flex;
}
section .inner .row .slider-wrap .slider > a {
  color: #000;
  padding-right: 1.25rem;
  transition: 0.2s;
  max-height: 1000px;
  max-width: 500px;
}
section .inner .row .slider-wrap .slider .item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
section .inner .row .slider-wrap .slider .item,
section .inner .row .slider-wrap .slider .item .item__img {
  width: 87vw;
  max-width: 100%;
}
section .inner .row .slider-wrap .slider .item .slider__contnet {
  padding: 2rem;
  height: 100%;
  position: relative;
}
section .inner .row .slider-wrap .slider a:nth-child(1) .item .slider__contnet {
  background-color: #9e7a71;
}
section .inner .row .slider-wrap .slider a:nth-child(2) .item .slider__contnet {
  background-color: #4c6485;
  color: #fff;
}
section .inner .row .slider-wrap .slider a:nth-child(3) .item .slider__contnet {
  background-color: #64bad8;
}
section .inner .row .slider-wrap .slider a:nth-child(4) .item .slider__contnet {
  background-color: #d5c1a7;
}
section .inner .row .slider-wrap .slider a:nth-child(5) .item .slider__contnet {
  background-color: #f5f5f5;
}

section .inner .row .slider-wrap .slider .item .slider__contnet .content__title {
  margin-bottom: 100px;
}
section .inner .row .slider-wrap .slider .item .slider__contnet .content__title h1 {
  line-height: 2.5rem;
  font-size: 1.1rem;
  font-weight: 800;
  display: inline-block;
  position: relative;
}
section .inner .row .slider-wrap .slider .item .slider__contnet .content__title h1:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}
section .inner .row .slider-wrap .slider a:nth-child(2) .item .slider__contnet .content__title h1:hover {
  text-decoration-color: #fff;
}

section .inner .row .slider-wrap .slider .item .slider__contnet .content__title p {
  line-height: 1.8rem;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}
section .inner .row .slider-wrap .slider .item .slider__contnet .content__btn {
  display: inline-block;
  position: absolute;
  bottom: 30px;
}
section .inner .row .slider-wrap .slider .item .slider__contnet .content__btn > img {
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(00, 00, 00, 0.8);
}
section .inner .row .slider-wrap .slider a:nth-child(2) .item .slider__contnet .content__btn > img {
  background-color: #fff;
}
section .inner .row .slider-wrap .slider a:nth-child(2) .item .slider__contnet .content__btn > img:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

section .inner .row .slider-wrap .slider .item .slider__contnet .content__btn > img:hover {
  background-color: rgba(00, 00, 00, 0.5);
}
section .inner .row .slider_bar {
  display: flex;
  width: 100%;
  height: 1.25rem;
  align-items: center;
  cursor: pointer;
}
section .inner .row .slider_bar .bar {
  width: 100%;
  height: 2.5px;
  background-color: #dfdfdf;
  border-radius: 3rem;
  position: relative;
}
section .inner .row .slider_bar .bar .drag:active {
  height: 7px;
}
section .inner .row .slider_bar .bar:hover {
  height: 5px;
}

section .inner .row .slider_bar .bar .drag {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 50%;
  background-color: #111;
  border-radius: 3rem;
  height: 100%;
  cursor: pointer;
}

section .inner .row .recommendation {
  color: #000;
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
section .inner .row .re-slider-wrap {
  overflow: hidden;
}
section .inner .row .re-slider-wrap .slider {
  display: flex;
}
section .inner .row .re-slider-wrap .slider .item {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  position: relative;
}
section .inner .row .re-slider-wrap .slider .item .item__heart {
  position: absolute;
  top: 0;
  right: 10px;
}
section .inner .row .re-slider-wrap .slider .item > a {
  margin: 0 0.65rem;
  display: block;
  color: #000;
  position: relative;
}
section .inner .row .re-slider-wrap .slider .item > a > div {
  margin-bottom: 5px;
  line-height: 1rem;
  font-weight: 800;
}
section .inner .row .re-slider-wrap .slider .item > a .item__img {
  max-width: 34.5vw;
  min-width: 100%;
}
section .inner .row .re-slider-wrap .slider .item > a .item__supimg {
  max-width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.2s;
}
section .inner .row .re-slider-wrap .slider .item > a:hover .item__supimg {
  opacity: 1;
}

section .inner .row .re-slider-wrap .slider .item > a .item__red_title {
  color: #ed022a;
  font-size: 0.75rem;
  margin-top: 1rem;
}
section .inner .row .re-slider-wrap .slider .item > a .item__title {
  color: #111;
  font-size: 0.75rem;
}
section .inner .row .re-slider-wrap .slider .item > a:hover .item__title {
  text-decoration: underline;
}
section .inner .row .re-slider-wrap .slider .item > a .item__subTitle {
  font-size: 0.7rem;
  font-weight: 200;
}
section .inner .row .re-slider-wrap .slider .item > a .item__subPrice {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
  text-decoration: line-through;
}
section .inner .row .re-slider-wrap .slider .item > a .item__price {
  font-size: 1rem;
  margin-bottom: 1rem;
}
section .inner .row .re-slider-wrap .slider .item > a .item__star {
  display: flex;
  align-items: center;
}
section .inner .row .re-slider-wrap .slider .item > a .item__basket {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
section .inner .row .re-slider-wrap .slider .item > a .item__basket span {
  display: inline-block;
  padding: 0.5rem;
  background-color: #0058a3;
  border-radius: 50%;
}
section .inner .row .re-slider-wrap .slider .item > a .item__basket span:hover {
  background-color: rgba(0, 88, 163, 0.9);
}
section .inner .row .re-slider-wrap .slider .item > a .item__star .star {
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background-image: url("../images/star_black_18dp.svg");
}
section .inner .row .re-slider-wrap .slider .item > a .item__star .reple {
  font-size: 0.75rem;
  font-weight: 200;
  margin-left: 0.7rem;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  section {
    margin-top: 2.5rem;
  }
  section .inner .row .message .title {
    font-size: 1.1rem;
  }
  section .inner .row .message p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 600px) {
  section {
    margin-top: 3.563rem;
  }
  section .inner .row .content .content__60 > img {
    width: 100%;
    height: 100%;
  }
  section .inner .row .content .content__40 .title {
    font-size: 1.5rem;
  }
  section .inner .row .title {
    font-size: 1.5rem;
  }
  section .inner .row .slider-wrap .slider .item,
  section .inner .row .slider-wrap .slider .item .item__img {
    width: 43vw;
  }
  section .inner .row .slider-wrap .slider > a {
    padding-right: 0.5rem;
  }
  section .inner .row .slider-wrap .slider .item .slider__contnet .content__title h1 {
    font-size: 1.5rem;
  }
  section .inner .row .re-slider-wrap .slider .item > a .item__img {
    width: 23vw;
  }

  section .inner .row .re-slider-wrap .slider .item > a .item__red_title,
  section .inner .row .re-slider-wrap .slider .item > a .item__title {
    font-size: 0.9rem;
  }
  section .inner .row .re-slider-wrap .slider .item > a .item__subTitle {
    font-size: 0.85rem;
    font-weight: 600;
    color: #484848;
  }
  section .inner .row .re-slider-wrap .slider .item > a .item__price {
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 900;
  }
}
@media screen and (min-width: 700px) {
  section {
    margin-top: 4.563rem;
  }
}

@media screen and (min-width: 900px) {
  section .inner .row .message {
    padding: 5rem;
  }
  section .inner .row .content .content__40 {
    padding: 5rem;
  }
  section .inner .row .slider-wrap .slider .item,
  section .inner .row .slider-wrap .slider .item .item__img {
    width: 27.2vw;
  }
  section .inner .row .slider-wrap .slider > a {
    padding-right: 1.25rem;
  }

  section .inner .row .re-slider-wrap .slider .item > a .item__img {
    width: 18vw;
  }
  section .inner .row .re-slider-wrap .slider .item > a:hover .item__basket span {
    opacity: 1;
    transition: 0.5;
  }
  section .inner .row .re-slider-wrap .slider .item > a .item__basket span {
    opacity: 0;
  }
}

@media screen and (min-width: 1270px) {
  section .inner .row .message {
    padding: 3rem;
  }
  section .inner .row .content {
    flex-direction: row;
  }
  section .inner .row .content .content__60 {
    flex: 7;
  }
  section .inner .row .content .content__40 {
    padding: 3rem;
    flex: 3;
  }
  section .inner .row .slider-wrap .slider .item,
  section .inner .row .slider-wrap .slider .item .item__img {
    width: 28vw;
  }
  section .inner .row .arrow:nth-child(1) {
    right: -20px;
  }
  section .inner .row .arrow:nth-child(2) {
    left: -20px;
  }
  section .inner .row .re-slider-wrap .slider .item > a .item__img {
    width: 19vw;
    max-width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  section .inner .row {
    margin: 0;
  }
}

@media screen and (min-width: 1540px) {
  section .inner .row .slider-wrap .slider .item,
  section .inner .row .slider-wrap .slider .item .item__img {
    width: 25vw;
  }
}
