img { display: block; }

a { text-decoration: none; color: #111; display: block; }

.container { max-width: 1400px; margin: auto; }

@media (min-width: 1024px) and (max-width: 1399px) { .container { max-width: 100%; margin: auto; padding: 0 20px; } }

@media (min-width: 906px) and (max-width: 1024px) { .container { padding: 0 10px; } }

#nav { display: none; background-color: #0073a6; }

@media (min-width: 1024px) { #nav { display: block; }
  #nav .manu { height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; } }

@media (min-width: 1024px) and (min-width: 1399px) { #nav .manu { padding: 0 1.25rem; } }

@media (min-width: 1024px) { #nav .manu .kategorie > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; width: 240px; }
  #nav .manu .kategorie > a > span { display: inline-block; font-size: 1.1rem; font-weight: 600; color: #fff; letter-spacing: 0.07rem; }
  #nav .manu .kategorie > a > span:nth-child(1) { padding-bottom: 3px; }
  #nav .manu .kategorie > a > span:nth-child(2) { margin-left: 5px; }
  #nav .manu .items { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #nav .manu .items .item { padding-right: 2.625rem; font-size: 1.125rem; }
  #nav .manu .items .item > a { padding-top: 3px; color: #fff; }
  #nav .manu .items .item > a > span { display: inline-block; } }
