html { -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

html::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

img { display: block; }

a { text-decoration: none; color: #111; display: block; }

.container { max-width: 1400px; margin: auto; }

@media (min-width: 1024px) and (max-width: 1399px) { .container { max-width: 100%; margin: auto; padding: 0 20px; } }

@media (min-width: 906px) and (max-width: 1024px) { .container { padding: 0 10px; } }

.m_line { display: block; height: 7px; border-top: 1px solid #ccc; background-color: #e6e6e6; content: ""; margin: 10px -10px; }

@media (min-width: 1024px) { .m_line { margin: 10px 0; height: 1px; } }

@media (max-width: 767px) { #section10 .container { padding: 0 10px 0; } }

#section10 .title { margin-top: 1.25rem; text-align: center; }

#section10 .title > h1 { font-size: 1.8rem; line-height: 2.3rem; margin-top: 3px; }

#section10 .title > p { font-size: 1rem; margin-top: 10px; }

#section10 .content-Box { padding-top: 1.875rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#section10 .content-Box .content { width: 25%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 10px; position: relative; }

@media (max-width: 767px) { #section10 .content-Box .content { width: 50%; } }

#section10 .content-Box .content .img img { max-width: 100%; }

#section10 .content-Box .content .text { text-align: center; margin: 2.1px 0; font-size: 0.9rem; height: 60px; }

#section10 .content-Box .content .text > h1, #section10 .content-Box .content .text > p { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 1.2rem; }

#section10 .content-Box .content .text > p { font-weight: bold; color: red; }

#section10 .content-Box .content > img { position: absolute; z-index: 1; top: 0; right: 10px; width: 42px; }

@media (max-width: 668px) { #section10 .content-Box .content > img { right: 1%; width: 30px; } }
