html { height: 10000px; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

html::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

img { display: block; }

a { text-decoration: none; color: #111; display: block; }

.container { max-width: 1400px; margin: auto; }

@media (min-width: 1024px) and (max-width: 1399px) { .container { max-width: 100%; margin: auto; padding: 0 20px; } }

@media (min-width: 906px) and (max-width: 1024px) { .container { padding: 0 10px; } }

.m_line { display: block; height: 7px; border-top: 1px solid #ccc; background-color: #e6e6e6; content: ""; margin: 10px -10px; }

@media (min-width: 1024px) { .m_line { margin: 10px 0; height: 1px; } }

#section11 .container { padding: 30px 10px 0; }

#section11 .container .content-Box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#section11 .container .content-Box .content { padding: 0 10px 0; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media (max-width: 767px) { #section11 .container .content-Box .content { padding: 0 10px 10px; width: 100%; } }

#section11 .container .content-Box .content .img img { max-width: 100%; max-height: 100%; }

#section11 .container .content-Box .content:nth-child(2) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#section11 .container .content-Box .content .main { display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #deefff; }

#section11 .container .content-Box .content .main .main__content { position: relative; padding: 5px; width: 50%; }

#section11 .container .content-Box .content .main .main__content .content__img img { max-width: 100%; }

#section11 .container .content-Box .content .main .main__content .content__text { text-align: center; }

#section11 .container .content-Box .content .main .main__content .content__text > p { font-size: 0.7rem; font-weight: bold; padding: 5px; margin: 5px 11.8px 14.8px; }

#section11 .container .content-Box .content .main .main__content > img { position: absolute; top: 5px; right: 5px; width: 42px; }

@media (max-width: 668px) { #section11 .container .content-Box .content .main .main__content > img { width: 30px; } }
