html { height: 5000px; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

html::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

img { display: block; }

a { text-decoration: none; color: #111; display: block; }

.container { max-width: 1400px; margin: auto; }

@media (min-width: 1024px) and (max-width: 1399px) { .container { max-width: 100%; margin: auto; padding: 0 20px; } }

@media (min-width: 906px) and (max-width: 1024px) { .container { padding: 0 10px; } }

.m_line { display: block; height: 7px; border-top: 1px solid #ccc; background-color: #e6e6e6; content: ""; margin: 10px -10px; }

@media (min-width: 1024px) { .m_line { margin: 10px 0; height: 1px; } }

@media (max-width: 767px) { #section2 .container { padding: 0 10px 10px; } }

#section2 .container .content-Box { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#section2 .container .content-Box .content { padding: 0 2px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; width: 25%; }

@media (max-width: 767px) { #section2 .container .content-Box .content { width: 50%; } }

#section2 .container .content-Box .content .img img { max-width: 100%; }

#section2 .container .content-Box .content .text { padding-top: 10px; }

@media (max-width: 767px) { #section2 .container .content-Box .content .text { padding-top: 7px; } }

#section2 .container .content-Box .content .text p, #section2 .container .content-Box .content .text h1 { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 0.85rem; }

#section2 .container .content-Box .content .text h1 { font-weight: bold; padding-bottom: 7px; }
