.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;

}
.logo_img{
    height: 2.9vh;
}

.side{
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 2;
}
.side_flexbox{
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: space-between;
    padding: 3vh 0 2.5vh 0;
}
.panel{
    position: absolute;
    left: -50px;
    background-color: rgba(42,42,42,0.9);
    transition: all 0.5s ease;
    width: 35vw;
    height: 100vh;
    padding-left: 2.8125rem;
    padding-right: 14.375rem;
    transform-origin: 0px 0px;
    transform: scaleX(0);
}
.panel_on{
    transform: scaleX(1);
}
.itme_box {
    position: relative;
    top: 28%;
    transition: all .5s ease;
}

.itme_box > li > a{
    color: aliceblue;
    font-size: 3.5em;
    line-height: 4.5rem;
    font-weight: 900;
    letter-spacing: .08em;
    position: relative;
}

.bars{
    width: 1.8vw;
    font-size: 0.8em;
    font-weight: 700;
    padding-top: 1.9vh;
    cursor: pointer;
}
.bar{
    display: block;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
    transition: all .5s ease;
}
.logo_bar{
    margin: 0 auto;
}
.side_logo{
    width: 20px;
}

.icon_bars{
    text-align: center;
    padding-bottom: 10px;
}
.icon_bars>a{
    display: block;
    margin-top: 2.7vh;
    font-size: .9em;
    color: #191919;
    letter-spacing: .1em;
    font-weight: 700;
}
.icon{
    width: 18px;
}


/* 사이스바 x 표시 애내메이션 */
.bar_menu{
    visibility: hidden;
    padding-bottom: 10px;
}
.bar_1{
    border-bottom: 1px solid white;
    transform: rotate(40deg);
    padding: 0;
}
.bar_3{
    visibility: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.bar_2 {
    border-bottom: 1px solid white;
    padding: 0;
    transform: rotate(-40deg);
}
/* 사이스바 x 표시 애내메이션 */


/* 메세지 박스 클릭 */
.cta_click{
    position: fixed;
    background-color: antiquewhite;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 20%);
    cursor: pointer;
    z-index: 1050;
}
.cta_click>img{
    width: 1.5vw;
    margin: 0 auto;
    display: block;
    padding-top: 0.7rem;
}
.cta_massage{
    background: red;
    position: fixed;
    width: 0vw;
    height: 0vh;
    right: 0px;
    bottom: 0px;
    border-top-left-radius:100%;
    transition: all .5s ease;
    z-index: 1;
}
.cta_massage_action{
    width: 100vw;
    height: 100vh;
    border-top-left-radius:0%;
}
.cta_massage_div{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    line-height: 40px;
    color: aliceblue;
    /* visibility: hidden; */
    opacity: 0;
    transition: all 1s ease;
}
.cta_massage_div_action{
    opacity: 1;
}
.cta_massage_div>h1:nth-child(3){
    margin-top: 35px;
}
/* 메세지 박스 클릭 */