$breakpoint-mobile: 335px;
$breakpoint-tablet668px: 668px;
$breakpoint-tablet767px: 767px;
$breakpoint-desktop1400px: 1399px;
$breakpoint-desktop1200px: 1200px;
$breakpoint-desktop1024px: 1024px;
$breakpoint-desktop906px: 906px;

$_30pxisRem: 1.875rem;
$_25pxisRem: 1.563rem;
$_20pxisRem: 1.25rem;
$_10pxisRem: 0.625rem;

@mixin _1200px_1400px {
  @media (min-width: #{$breakpoint-desktop1200px}) and (max-width: #{$breakpoint-desktop1400px}) {
    @content;
  }
}
@mixin _1024px_1400px {
  @media (min-width:#{$breakpoint-desktop1024px}) and (max-width: #{$breakpoint-desktop1400px}) {
    @content;
  }
}
@mixin _1024px_1200px {
  @media (min-width:#{$breakpoint-desktop1024px}) and (max-width: #{$breakpoint-desktop1200px}) {
    @content;
  }
}
@mixin _906px_1024px {
  @media (min-width: #{$breakpoint-desktop906px}) and (max-width: #{$breakpoint-desktop1024px}) {
    @content;
  }
}
@mixin _767px_906px {
  @media (min-width: #{$breakpoint-tablet767px}) and (max-width: #{$breakpoint-desktop906px}) {
    @content;
  }
}

@mixin _1024px {
  @media (min-width: #{$breakpoint-desktop1024px}) {
    @content;
  }
}

@mixin _767px {
  @media (max-width: #{$breakpoint-tablet767px}) {
    @content;
  }
}
@mixin _668px {
  @media (max-width: #{$breakpoint-tablet668px}) {
    @content;
  }
}

@mixin _1024pxMax {
  @media (max-width: #{$breakpoint-desktop1024px}) {
    @content;
  }
}

@mixin _1400 {
  @media (min-width: #{$breakpoint-desktop1400px}) {
    @content;
  }
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

img {
  display: block;
}
a {
  text-decoration: none;
  color: #111;
  display: block;
}
.container {
  max-width: 1400px;
  margin: auto;
  @include _1024px_1400px {
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
  }
  @include _906px_1024px() {
    padding: 0 10px;
  }
}

.m_line {
  display: block;
  height: 7px;
  border-top: 1px solid #ccc;
  background-color: #e6e6e6;
  content: "";
  margin: 10px -10px;
  @include _1024px() {
    margin: 10px 0;
    height: 1px;
  }
}
