@import "./media";

#section7 {
  .container {
    @include _767px() {
      padding: 0 10px 10px;
    }
    .content-Box {
      display: flex;
      flex-wrap: wrap;
      @include _1024px() {
        margin-top: 20.406px;
      }
      .content {
        width: 50%;
        box-sizing: border-box;
        padding: 0 12.5px 15px 0;
        @include _1024px() {
          width: 25%;
        }
        .img {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
