// GLOBAL
img {
  display: block;
}
a {
  text-decoration: none;
  color: #111;
  display: block;
}
.container {
  max-width: 1400px;
  margin: auto;
}

// HEADER
#header {
  .container {
    .row {
      .flex-box {
        display: flex;
        flex-direction: column;
        .item-top {
          display: flex;
          justify-content: flex-end;
          padding: 0 1.25rem;
          .menu-bar {
            font-size: 1rem;

            .items {
              display: flex;
              .item {
                padding-right: 1.875rem;
                a {
                  line-height: 2.5rem;

                  span {
                    color: #0060a9;
                  }

                  &:hover,
                  &:focus {
                    text-decoration: underline;
                    span {
                      color: #00355d;
                    }
                  }
                }
              }
              .item.language {
                margin-right: 1.25rem;
                padding: 0;
                width: 67px;
              }
              .item.country {
                margin-right: 1.25rem;
                padding: 0;
                width: 150px;
              }
            }
          }
        }

        .item-bottom {
          display: flex;
          .logoBox {
            flex: 2.5;
            img {
              max-width: 81%;
              margin-bottom: 23.1px;
            }
          }
          .searchBox {
            flex: 6;
          }
          .loginBox {
            flex: 2;
          }
        }
      }
    }
  }
}
