@import "./global";

#section13 {
  .container {
    @include _767px() {
      padding: 0 10px 0;
    }
  }
  .title {
    margin-top: 28px;
    @include _1024pxMax() {
      margin-top: $_20pxisRem;
    }
    text-align: center;
    & > h1 {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.3rem;
      margin-top: 3px;
    }
    & > p {
      font-size: 1rem;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .content-Box {
    display: flex;
    flex-wrap: wrap;
    .content {
      width: 16.6%;
      padding: 0 10px;
      box-sizing: border-box;
      @include _1024pxMax() {
        width: 33%;
      }
      .img {
        overflow: hidden;
        img {
          max-width: 100%;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            transform: scale(1.3);
          }
        }
      }
      .text {
        text-align: center;
        & > p {
          font-size: 0.9rem;
          font-weight: bold;
          margin-top: 4px;
          height: 40px;
        }
      }
    }
  }
}
