@import "./global";

#section15 {
  .container {
    @include _767px() {
      padding: 0 10px 0;
    }

    .content {
      display: flex;
      align-items: center;

      @include _1024pxMax() {
        flex-direction: column;
        align-items: flex-start;
      }
      .title {
        font-weight: bold;
        color: #0060a9;
        width: 10%;
        font-size: 20px;
        margin-left: 20px;
        line-height: 60px;
        @include _1024pxMax() {
          font-size: 0.9rem;
          margin: 9.375px 0;
          line-height: 30px;
          width: auto;
        }
      }
      .notice {
        font-size: 14px;
        @include _1024pxMax() {
          display: inline-block;
          max-width: 300px;
          line-height: 50px;
          margin-right: 20px;
          padding: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          word-break: normal;
        }

        & > a {
          display: inline-block;
        }
        & > span {
          display: inline-block;
        }
      }
    }
  }
  .m_line {
    height: 0px;
    margin: 0;
  }
}
