@import "./global";

#section1 {
  .container {
    @include _1024pxMax {
      padding: 0;
    }
    .slider-wrap {
      width: 100%;
      position: relative;
      overflow: hidden;
      .slider {
        position: relative;
        overflow: hidden;
        transition: 0.5s;
        .item {
          float: left;
          img {
            max-width: 100%;
            width: 100%;
            max-height: 400px;
          }
        }
      }
      .rightBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 2%;
        height: 50px;
        padding: 15px;
        margin: auto;
        cursor: pointer;
        border-radius: 50%;
        &:hover,
        :focus {
          box-shadow: 5px 5px 5px #111;
        }
      }
      .leftBtn {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2%;
        height: 50px;
        padding: 15px;
        margin: auto;
        cursor: pointer;
        border-radius: 50%;
        &:hover,
        :focus {
          box-shadow: 5px 5px 5px #111;
        }
      }
    }
    .sliderBar {
      .bar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 10px 0;
        .barBtn {
          margin: 5px 5px;
          padding: 5px;
          height: 2.5px;
          width: 2.5px;
          border-radius: 50%;
          background-color: #dfdfdf;
          cursor: pointer;
        }
        .clicked {
          background-color: red;
        }
      }
    }
  }
}
