@import "../meida/_media";

#header {
  top: 0;
  position: fixed;
  display: block;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 768px;
  height: 60px;
  z-index: 10;

  @include _1260px() {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #d6d6d6;
    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 1920px;
      background-color: #fff;
      z-index: -1;
      opacity: 0;
      border-top: 1px solid #d6d6d6;
    }
  }

  .container {
    display: block;
    position: relative;
    & > h1 {
      position: absolute;
      top: 20px;
      left: 14px;
      width: 126px;
      z-index: 1;

      @include _1260px() {
        top: 40px;
        left: 0;
        width: 161px;
        z-index: 1;
      }

      img {
        max-width: 100%;
      }
    }
    #nav {
      @include _1260px() {
        display: flex;
      }
      position: relative;
      display: none;
      width: 1260px;
      height: 100%;
      padding-left: 218px;
      background: none;
      box-sizing: border-box;
      .flex-container {
        display: flex;
        .flex-item {
          height: 105px;
          & > a {
            position: relative;
            text-align: center;
            box-sizing: border-box;
            color: #333333;
            font-size: 1.7rem;
            font-weight: 900;
            line-height: 105px;
            width: 141px;
            padding: 0 10px;
            letter-spacing: 0.5px;
            &:hover {
              color: #7f4f21;
              &::after {
                display: block;
              }
            }
            &::after {
              content: "";
              display: none;
              width: inherit;
              position: absolute;
              height: 1px;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              border-bottom: 3px solid #7f4f21;
            }
          }
          .depth2 {
            position: relative;
            display: none;
            width: 141px;
            padding-top: 19px;

            box-sizing: border-box;
            .depth2-item {
              position: relative;
              & > a {
                font-size: 1.4rem;
                font-weight: 700;
                letter-spacing: 0.5px;
                display: block;
                padding: 0;
                color: #474747;
                height: 56px;
                line-height: 56px;
                text-align: center;
                border-left: 1px solid #efefef;

                &:hover {
                  color: #7f4f21;
                }
              }
            }

            &:hover {
              &::after {
                display: block;
              }
            }

            &::after {
              content: "";
              display: none;
              width: inherit;
              position: absolute;
              height: 1px;
              top: -4px;
              left: 0;
              right: 0;
              margin: auto;
              border-bottom: 3px solid #7f4f21;
              margin-left: -1px;
              margin-right: -1px;
            }
          }
          .depth2.active {
            display: block;
          }
          &:last-child {
            .depth2 {
              .depth2-item {
                & > a {
                  border-right: 1px solid #efefef;
                }
              }
            }
          }
        }
      }
    }
    .language {
      position: absolute;
      display: flex;
      top: 12px;
      right: 13px;
      align-items: center;
      @include _1260px() {
        top: 36px;
        right: 0;
        height: 30px;
      }

      span {
        @include _1260px() {
          order: 0;
          width: 30px;
          height: 30px;
        }
        & > button {
          width: 36px;
          height: 36px;
          margin-left: 5px;
          background-image: url("../images/header/searchBTN1440.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: transparent;
          cursor: pointer;
          @include _1260px() {
            height: 100%;
            width: 100%;
            margin: 0;
            background-size: 30px auto;
          }
        }
      }
      .global_btn {
        display: flex;
        align-items: center;
        position: relative;
        @include _1260px() {
          order: 1;
          width: auto;
          height: auto;
          .active {
            color: #333333;
          }
        }

        & > a {
          display: block;
          width: 36px;
          height: 36px;
          text-align: center;
          line-height: 36px;
          background-color: #f2f2f2;
          border-radius: 18px;
          color: #4f4f4f;
          font-weight: 900;
          font-size: 1.3rem;
          &:nth-child(1) {
            display: none;
          }
          @include _1260px() {
            width: 57px;
            height: auto;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 900;
            line-height: 28px;
            color: #bdbdbd;
            background-color: transparent;
            &:nth-child(1) {
              display: block;
            }

            &::after {
              content: "";
              display: block;
              position: absolute;
              width: 1px;
              height: 9px;
              border-left: 1px solid rgba($color: #000000, $alpha: 0.2);
              top: 11px;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
      }
      .menu {
        border: none;
        margin-left: 5px;
        padding: 0;
        background-color: transparent;
        @include _1260px() {
          display: none;
        }
        & > img {
          min-width: 100%;
        }
      }
    }
  }
}

#header.active {
  &::after {
    height: 156px;
    opacity: 1;
  }
}
