html { font-family: "Nanum Gothic", sans-serif; font-size: 20px; }

body { min-width: 1230px; }

a { text-decoration: none; display: block; }

img { display: block; }

button { border: none; outline: none; background-color: transparent; padding: 0; cursor: pointer; }

#header { border-bottom: 2px solid #fe0605; }

#header .container { width: 1200px; margin: 0 auto; }

#header .container .search { padding-top: 29px; padding-bottom: 20px; }

#header .container .search .flex-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .container .search .flex-box .flex-item .search-box { width: 500px; }

#header .container .search .flex-box .flex-item .search-box { position: relative; border: 1px solid #b7b7b7; height: 45px; width: 564px; border-radius: 30px; padding-right: 80px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#header .container .search .flex-box .flex-item .search-box > input { width: 100%; border: none; height: 45px; padding: 10px 20px 11px; font-size: 15px; color: #333333; background-color: transparent; outline: none; }

#header .container .search .flex-box .flex-item .search-box .search-icon { position: absolute; width: 24px; height: 24px; top: 0; right: 20px; background-image: url("/images/header/search.svg"); background-size: 24px auto; background-repeat: no-repeat; bottom: 0; margin: auto; cursor: pointer; }

#header .container .search .flex-box .flex-item .links { width: 168px; margin-left: 30px; font-size: 0; }

#header .container .search .flex-box .flex-item .links button { width: 36px; height: 36px; }

#header .container .search .flex-box .flex-item .links .btnLogin { background: url("/images/header/header_spritesheet.png") 0px 0px no-repeat; }

#header .container .search .flex-box .flex-item .links .userWrap { position: relative; display: inline-block; }

#header .container .search .flex-box .flex-item .links .userWrap .btnUser { margin: 0 30px; background: url("/images/header/header_spritesheet.png") 0px -36px no-repeat; }

#header .container .search .flex-box .flex-item .links .userWrap .btnUser:hover { background: url("/images/header/header_spritesheet.png") -36px -36px no-repeat; }

#header .container .search .flex-box .flex-item .links .userWrap .userLinkList { display: none; margin-top: -10px; position: absolute; z-index: 1; border-radius: 2px; padding: 8px 0; width: 103px; background-color: #fff; -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); top: 46px; }

#header .container .search .flex-box .flex-item .links .userWrap .userLinkList > button { width: 100%; font-size: 11px; display: block; padding: 6px 15px; color: #666666; line-height: 14px; height: 25px; font-size: 900; }

#header .container .search .flex-box .flex-item .links .userWrap .userLinkList > button:hover { background-color: rgba(102, 102, 102, 0.1); color: #fe0605; }

#header .container .search .flex-box .flex-item .links .userWrap .active { display: block; }

#header .container .search .flex-box .flex-item .links .btnCart { background: url("/images/header/header_spritesheet.png") 0px -72px no-repeat; }

#header .container #nav { position: relative; }

#header .container #nav .catagori { position: absolute; width: 149px; height: 43px; padding: 2px 0 0 25px; background: url("/images/header/spritesheet.png") -1526px -5px no-repeat transparent; text-align: left; }

#header .container #nav .catagori > span { color: #fff; font-size: 15px; }

#header .container #nav .catagori > span .icon { background: url("/images/header/spritesheet.png"); background-repeat: no-repeat; background-position: -1456px -5px; height: 11px; width: 10px; display: inline-block; vertical-align: middle; margin-bottom: 6px; margin-right: 10px; }

#header .container #nav .navbar-box { padding: 0px 0px 0px 149px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#header .container #nav .navbar-box .navbar-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }

#header .container #nav .navbar-box .navbar-item > a { color: #333; padding: 0px 5px; font-size: 15px; line-height: 43px; height: 43px; }

#header .container #nav .navbar-box .navbar-item > a:hover { color: #fe0605; }

#header .container #nav .navbar-box .navbar-item:nth-child(1), #header .container #nav .navbar-box .navbar-item:nth-child(5) { position: relative; }

#header .container #nav .navbar-box .navbar-item:nth-child(1)::before, #header .container #nav .navbar-box .navbar-item:nth-child(5)::before { position: absolute; content: ""; width: 5px; height: 5px; display: inline-block; background-color: red; border-radius: 50%; top: 7px; right: 25px; }

#main .mainVisual { padding: 20px 0; border-bottom: 1px solid #eeeeee; }

#main .mainVisual .slider-container { width: 1230px; position: relative; margin: auto; }

#main .mainVisual .slider-container .sliderWrap { overflow: unset; height: 450px; }

#main .mainVisual .slider-container .sliderWrap .slider { float: left; }

#main .mainVisual .slider-container .sliderWrap .slider .item { padding: 0px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; }

#main .mainVisual .slider-container .sliderWrap .slider .item .flex-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-size: 0; }

#main .mainVisual .slider-container .sliderWrap .slider .item .flex-box > img { display: inline-block; width: 590px; }

#main .mainVisual .slider-container .sliderWrap .slider .item img { border-radius: 6px; max-height: 100%; }

#main .mainVisual .slider-container .controlInner { right: 15px; top: 414px; display: -webkit-box; display: -ms-flexbox; display: flex; width: 114px; height: 36px; position: absolute; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0px 26px 0px 20px; background-color: rgba(0, 0, 0, 0.5); border-radius: 36px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main .mainVisual .slider-container .controlInner .controlBtnArea { height: 17px; font-size: 0; }

#main .mainVisual .slider-container .controlInner .controlBtnArea .btnPlay, #main .mainVisual .slider-container .controlInner .controlBtnArea .btnPause { width: 14px; height: 15px; background-image: url("/images/main/slide/slide_spritesheet.png"); background-repeat: no-repeat; }

#main .mainVisual .slider-container .controlInner .controlBtnArea .btnPlay { background-position: -84px 0px; }

#main .mainVisual .slider-container .controlInner .controlBtnArea .btnPause { background-position: -98px 0px; }

#main .mainVisual .slider-container .controlInner .slideTotal { margin-left: auto; color: #fff; font-size: 12px; }

#main .mainVisual .slider-container .controlInner .slideTotal > strong { font-weight: 900; }

#main .mainVisual .slider-container .btnNext, #main .mainVisual .slider-container .btnPrev { position: absolute; width: 43px; height: 74px; background-repeat: no-repeat; top: 199px; }

#main .mainVisual .slider-container .btnNext { background-image: url("/images/main/slide/slide_spritesheet.png"); right: -6px; background-position: -43px 0px; }

#main .mainVisual .slider-container .btnPrev { left: -6px; background-image: url("/images/main/slide/slide_spritesheet.png"); }

#main .mainContent { width: 1230px; margin: 0 auto; }

#main .mainContent .bannerSlider { position: relative; margin-top: 70px; }

#main .mainContent .bannerSlider .sliderWrap { width: 1200px; margin: auto; height: 130px; overflow: hidden; }

#main .mainContent .bannerSlider .sliderWrap .slide { float: left; }

#main .mainContent .bannerSlider .sliderWrap .slide .item { float: left; }

#main .mainContent .bannerSlider .btnNext, #main .mainContent .bannerSlider .btnPrev { position: absolute; width: 43px; height: 74px; background-repeat: no-repeat; top: 0; bottom: 0; margin: auto; }

#main .mainContent .bannerSlider .btnNext { background-image: url("/images/main/slide/slide_spritesheet.png"); right: -6px; background-position: -43px 0px; }

#main .mainContent .bannerSlider .btnPrev { left: -6px; background-image: url("/images/main/slide/slide_spritesheet.png"); }

#main .mainContent .iconLinks { padding: 59px 16px 50px; }

#main .mainContent .iconLinks > ul { font-size: 0; }

#main .mainContent .iconLinks > ul > li { display: inline-block; vertical-align: top; width: 100px; }

#main .mainContent .iconLinks > ul > li > a .txt { padding: 0 5px; margin-top: 13px; font-size: 15px; line-height: 1.13; color: #333333; text-align: center; }

#main .mainContent .iconLinks > ul > li > a .txt > span { display: block; }

#main .mainContent .iconLinks > ul > li:not(:first-child) { margin-left: 22px; }

#main .mainContent .sale-inner { padding: 60px 0 70px; }

#main .mainContent .sale-inner > h2 { text-align: center; }

#main .mainContent .sale-inner > h2 > img { display: inline-block; }

#main .mainContent .sale-inner .btnLinks-wrap { padding-top: 15px; height: 80px; border-bottom: 1px solid #ebebeb; }

#main .mainContent .sale-inner .btnLinks-wrap .btnLiks { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1200px; margin: 0 auto; background-color: #fff; }

#main .mainContent .sale-inner .btnLinks-wrap .btnLiks .btn { position: relative; max-width: 240px; height: 80px; width: 100%; font-size: 16px; color: #333333; }

#main .mainContent .sale-inner .btnLinks-wrap .btnLiks .btn:not(:last-child)::after { content: ""; position: absolute; display: inline-block; background-color: #ebebeb; height: 14px; width: 1px; right: 0; top: 0; bottom: 0; margin: auto; }

#main .mainContent .sale-inner .btnLinks-wrap .btnLiks .selected { color: red; font-weight: 600; }

#main .mainContent .sale-inner .btnLinks-wrap .btnLiks .selected::before { content: ""; position: absolute; display: inline-block; height: 3px; background-color: red; margin: auto; left: 0; right: 0; bottom: 0; }

#main .mainContent .sale-inner .stuffs-wrap { padding: 40px 0px 70px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item { margin-left: 39px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap { border-radius: 3px; width: 374px; height: 374px; position: relative; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button { overflow: hidden; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button > span { display: block; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button > span > img { -webkit-transition: 0.2s; transition: 0.2s; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .deliveryFlag { position: absolute; width: 56px; height: 56px; right: 4px; -webkit-transition: 0.3s; transition: 0.3s; opacity: 1; top: 4px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .deliveryFlag > img { width: 100%; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList { opacity: 1; position: absolute; left: 4px; top: 4px; -webkit-transition: 0.2s; transition: 0.2s; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .flag { width: 56px; height: 56px; font-size: 16px; line-height: 1.13; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 4px; color: red; font-weight: bold; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .flag > img { width: 100%; height: 100%; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .event { padding: 1px 0px 0px; background: url("/images/main/sale/event.png") 0% 0%/100% no-repeat; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover { -webkit-transition: 0.2s; transition: 0.2s; position: absolute; bottom: 0; left: 0; right: 0; background-color: rebeccapurple; height: 50px; background-color: rgba(0, 0, 0, 0.7); opacity: 0; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; margin: 0 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner > a > span { width: 30px; height: 30px; font-size: 0; line-height: 0; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover img { -webkit-transform: scale(1.05); transform: scale(1.05); }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .deliveryFlag { opacity: 0; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .thumbHover { opacity: 1; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .flagList { opacity: 0; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo { width: 374px; margin-top: 18px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a { margin-bottom: 5px; font-size: 12px; color: #333333; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p { line-height: 1.47; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: normal; overflow-wrap: break-word; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p:first-child { font-size: 700; color: red; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p:last-child { height: 44px; line-height: 1.47; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap { font-size: 12px; color: #333333; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .orgPrice { display: block; height: 17px; margin: 6px 0px 7px; color: #999999; text-decoration: line-through; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .orgPrice .priceValue { font-size: 15px; line-height: 15px; letter-spacing: -0.7px; font-weight: 900; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price { display: inline-block; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price .countDc { font-size: 27px; margin: 7px 5px 10px 0px; font-weight: 700; line-height: 0.59; color: red; letter-spacing: -0.68px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price .priceValue { font-size: 27px; line-height: 26px; letter-spacing: -0.5px; font-weight: 900; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .priceQty { padding: 10px 0px 0px 6px; vertical-align: top; display: inline-block; color: #666666; font-size: 12px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap { margin-top: 11px; font-size: 12px; color: #999999; line-height: 18px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap .icon { display: inline-block; background-image: url("/images/header/spritesheet.png"); background-repeat: no-repeat; width: 15px; height: 15px; background-position: -3365px -5px; margin-right: 3px; vertical-align: top; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap > span:nth-child(2) { position: relative; margin-right: 5px; padding-right: 5px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap > span:nth-child(2)::after { display: inline-block; content: ""; width: 1px; height: 11px; background-color: #dddddd; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .benefitList { margin-top: 3px; font-size: 12px; font-weight: 900; color: #999999; line-height: 19px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .detailInfoBtm .btnProdMore { width: 100%; height: 36px; border-radius: 2px; border: 1px solid #dddddd; margin-top: 14px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .detailInfoBtm .btnProdMore > span::after { content: ""; display: inline-block; margin: -2px 0px 0px 4px; width: 6px; height: 9px; background: url("/images/main/sale/right-icon.png") 0px 0px no-repeat; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item:first-child, #main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item:nth-child(4) { margin-left: 0px; }

#main .mainContent .sale-inner .stuffs-wrap .stuffs-flexbox .stuffs-item:nth-child(n + 4) { margin-top: 60px; }

#main .mainContent .sale-inner .btnWrap > button { width: 840px; height: 70px; font-size: 18px; display: block; color: #333333; line-height: 70px; letter-spacing: -0.45px; border-radius: 3px; border: 1px solid #999999; background-color: #fff; margin: auto; }

#main .mainContent .sale-inner .btnWrap > button > img { display: inline-block; vertical-align: middle; margin-right: 13px; }

#main .mainContent .sale-inner .btnWrap > button > span { vertical-align: middle; }

#main .mainContent .sale-inner .btnWrap > button > span > strong { font-weight: 900; letter-spacing: -2px; }

#main .mainContent .sale-inner .btnWrap > button > span .total { color: #999999; }

#main .mainContent .oneplus-inner { padding: 60px 0 70px; }

#main .mainContent .oneplus-inner > h2 { text-align: center; }

#main .mainContent .oneplus-inner > h2 > img { display: inline-block; }

#main .mainContent .oneplus-inner .btnLinks-wrap { padding-top: 15px; height: 80px; border-bottom: 1px solid #ebebeb; }

#main .mainContent .oneplus-inner .btnLinks-wrap .btnLiks { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1200px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; background-color: #fff; }

#main .mainContent .oneplus-inner .btnLinks-wrap .btnLiks .btn { position: relative; max-width: 240px; height: 80px; width: 100%; font-size: 16px; color: #333333; }

#main .mainContent .oneplus-inner .btnLinks-wrap .btnLiks .btn:not(:last-child)::after { content: ""; position: absolute; display: inline-block; background-color: #ebebeb; height: 14px; width: 1px; right: 0; top: 0; bottom: 0; margin: auto; }

#main .mainContent .oneplus-inner .btnLinks-wrap .btnLiks .selected { color: red; font-weight: 600; }

#main .mainContent .oneplus-inner .btnLinks-wrap .btnLiks .selected::before { content: ""; position: absolute; display: inline-block; height: 3px; background-color: red; margin: auto; left: 0; right: 0; bottom: 0; }

#main .mainContent .oneplus-inner .stuffs-wrap { padding: 40px 0px 70px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item { margin-left: 39px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap { border-radius: 3px; width: 270px; height: 270px; position: relative; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button { overflow: hidden; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button > span { display: block; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button > span > img { -webkit-transition: 0.2s; transition: 0.2s; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .deliveryFlag { position: absolute; width: 56px; height: 56px; right: 4px; -webkit-transition: 0.3s; transition: 0.3s; opacity: 1; top: 4px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .deliveryFlag > img { width: 100%; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList { opacity: 1; position: absolute; left: 4px; top: 4px; -webkit-transition: 0.2s; transition: 0.2s; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .flag { width: 56px; height: 56px; font-size: 16px; line-height: 1.13; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 4px; color: red; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .flag > img { width: 100%; height: 100%; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .event { padding: 1px 0px 0px; background: url("/images/main/sale/event.png") 0% 0%/100% no-repeat; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover { -webkit-transition: 0.2s; transition: 0.2s; position: absolute; bottom: 0; left: 0; right: 0; background-color: rebeccapurple; height: 50px; background-color: rgba(0, 0, 0, 0.7); opacity: 0; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; margin: 0 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner > a > span { width: 30px; height: 30px; font-size: 0; line-height: 0; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover img { -webkit-transform: scale(1.05); transform: scale(1.05); }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .deliveryFlag { opacity: 0; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .thumbHover { opacity: 1; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .flagList { opacity: 0; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo { width: 270px; margin-top: 18px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a { margin-bottom: 5px; font-size: 12px; color: #333333; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p { line-height: 1.47; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: normal; overflow-wrap: break-word; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p:first-child { font-size: 700; color: red; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p:last-child { height: 44px; line-height: 1.47; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap { font-size: 12px; color: #333333; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .orgPrice { display: block; height: 17px; margin: 6px 0px 7px; color: #999999; text-decoration: line-through; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .orgPrice .priceValue { font-size: 15px; line-height: 15px; letter-spacing: -0.7px; font-weight: 900; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price { display: inline-block; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price .countDc { font-size: 27px; margin: 7px 5px 10px 0px; font-weight: 700; line-height: 0.59; color: red; letter-spacing: -0.68px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price .priceValue { font-size: 27px; line-height: 26px; letter-spacing: -0.5px; font-weight: 900; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .priceQty { padding: 10px 0px 0px 6px; vertical-align: top; display: inline-block; color: #666666; font-size: 12px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap { margin-top: 11px; font-size: 12px; color: #999999; line-height: 18px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap .icon { display: inline-block; background-image: url("/images/header/spritesheet.png"); background-repeat: no-repeat; width: 15px; height: 15px; background-position: -3365px -5px; margin-right: 3px; vertical-align: top; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap > span:nth-child(2) { position: relative; margin-right: 5px; padding-right: 5px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap > span:nth-child(2)::after { display: inline-block; content: ""; width: 1px; height: 11px; background-color: #dddddd; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .detailInfoBtm .btnProdMore { width: 100%; height: 36px; border-radius: 2px; border: 1px solid #dddddd; margin-top: 14px; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .detailInfoBtm .btnProdMore > span::after { content: ""; display: inline-block; margin: -2px 0px 0px 4px; width: 6px; height: 9px; background: url("/images/main/sale/right-icon.png") 0px 0px no-repeat; }

#main .mainContent .oneplus-inner .stuffs-wrap .stuffs-flexbox .stuffs-item:first-child { margin-left: 0px; }

#main .mainContent .oneplus-inner .btnWrap > button { width: 840px; height: 70px; font-size: 18px; display: block; color: #333333; line-height: 70px; letter-spacing: -0.45px; border-radius: 3px; border: 1px solid #999999; background-color: #fff; margin: auto; }

#main .mainContent .oneplus-inner .btnWrap > button > img { display: inline-block; vertical-align: middle; margin-right: 13px; }

#main .mainContent .oneplus-inner .btnWrap > button > span { vertical-align: middle; position: relative; }

#main .mainContent .oneplus-inner .btnWrap > button > span > strong { font-weight: 900; letter-spacing: -2px; }

#main .mainContent .oneplus-inner .btnWrap > button > span > img { position: absolute; top: 2px; right: -15px; }

#main .mainContent .recommend-inner { margin: 0 auto; width: 1200px; }

#main .mainContent .recommend-inner .recommend-wrap { padding: 70px 0px; }

#main .mainContent .recommend-inner .recommend-wrap > h2 { text-align: center; }

#main .mainContent .recommend-inner .recommend-wrap > h2 > img { display: inline-block; }

#main .mainContent .recommend-inner .recommend-wrap .btnLinks-wrap { padding-top: 15px; height: 80px; border-bottom: 1px solid #ebebeb; }

#main .mainContent .recommend-inner .recommend-wrap .btnLinks-wrap .btnLiks { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1200px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; background-color: #fff; }

#main .mainContent .recommend-inner .recommend-wrap .btnLinks-wrap .btnLiks .btn { position: relative; max-width: 240px; height: 80px; width: 100%; font-size: 16px; color: #333333; }

#main .mainContent .recommend-inner .recommend-wrap .btnLinks-wrap .btnLiks .btn:not(:last-child)::after { content: ""; position: absolute; display: inline-block; background-color: #ebebeb; height: 14px; width: 1px; right: 0; top: 0; bottom: 0; margin: auto; }

#main .mainContent .recommend-inner .recommend-wrap .btnLinks-wrap .btnLiks .selected { color: red; font-weight: 600; }

#main .mainContent .recommend-inner .recommend-wrap .btnLinks-wrap .btnLiks .selected::before { content: ""; position: absolute; display: inline-block; height: 3px; background-color: red; margin: auto; left: 0; right: 0; bottom: 0; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap { padding-top: 40px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item { margin-top: 40px; margin-left: 40px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap { border-radius: 3px; width: 270px; height: 270px; position: relative; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button { overflow: hidden; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button > span { display: block; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button > span > img { -webkit-transition: 0.2s; transition: 0.2s; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .deliveryFlag { position: absolute; width: 56px; height: 56px; right: 4px; -webkit-transition: 0.3s; transition: 0.3s; opacity: 1; top: 4px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .deliveryFlag > img { width: 100%; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList { opacity: 1; position: absolute; left: 4px; top: 4px; -webkit-transition: 0.2s; transition: 0.2s; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .flag { width: 56px; height: 56px; font-size: 16px; line-height: 1.13; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 4px; color: red; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .flag > img { width: 100%; height: 100%; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap > button .flagList .event { padding: 1px 0px 0px; background: url("/images/main/sale/event.png") 0% 0%/100% no-repeat; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover { -webkit-transition: 0.2s; transition: 0.2s; position: absolute; bottom: 0; left: 0; right: 0; background-color: rebeccapurple; height: 50px; background-color: rgba(0, 0, 0, 0.7); opacity: 0; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; margin: 0 20px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap .thumbHover .inner > a > span { width: 30px; height: 30px; font-size: 0; line-height: 0; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover img { -webkit-transform: scale(1.05); transform: scale(1.05); }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .deliveryFlag { opacity: 0; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .thumbHover { opacity: 1; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .thumbWrap:hover .flagList { opacity: 0; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo { width: 270px; margin-top: 18px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a { margin-bottom: 5px; font-size: 12px; color: #333333; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p { line-height: 1.47; font-size: 14px; text-overflow: ellipsis; overflow: hidden; white-space: normal; overflow-wrap: break-word; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p:first-child { font-size: 700; color: red; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo > a > p:last-child { height: 44px; line-height: 1.47; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap { font-size: 12px; color: #333333; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .orgPrice { display: block; height: 17px; margin: 6px 0px 7px; color: #999999; text-decoration: line-through; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .orgPrice .priceValue { font-size: 15px; line-height: 15px; letter-spacing: -0.7px; font-weight: 900; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price { display: inline-block; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price .countDc { font-size: 27px; margin: 7px 5px 10px 0px; font-weight: 700; line-height: 0.59; color: red; letter-spacing: -0.68px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .price .priceValue { font-size: 27px; line-height: 26px; letter-spacing: -0.5px; font-weight: 900; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .priceWrap .priceQty { padding: 10px 0px 0px 6px; vertical-align: top; display: inline-block; color: #666666; font-size: 12px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap { margin-top: 11px; font-size: 12px; color: #999999; line-height: 18px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap .icon { display: inline-block; background-image: url("/images/header/spritesheet.png"); background-repeat: no-repeat; width: 15px; height: 15px; background-position: -3365px -5px; margin-right: 3px; vertical-align: top; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap > span:nth-child(2) { position: relative; margin-right: 5px; padding-right: 5px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .prodScoreWrap > span:nth-child(2)::after { display: inline-block; content: ""; width: 1px; height: 11px; background-color: #dddddd; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .detailInfoBtm .btnProdMore { width: 100%; height: 36px; border-radius: 2px; border: 1px solid #dddddd; margin-top: 14px; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item .stuffInfo .detailInfoBtm .btnProdMore > span::after { content: ""; display: inline-block; margin: -2px 0px 0px 4px; width: 6px; height: 9px; background: url("/images/main/sale/right-icon.png") 0px 0px no-repeat; }

#main .mainContent .recommend-inner .recommend-wrap .stuffs-wrap .stuffs-flexbox .stuffs-item:nth-child(4n + 1) { margin-left: 0; }

#main .mainContent:not(:last-child) { border-bottom: 1px solid #eeeeee; }

#main .mainContent:nth-child(3) { border-bottom: none; }

#pagination { position: absolute; text-align: center; top: 10px; right: 30px; z-index: 10; }

#pagination .bullet { margin: 0 4px; cursor: pointer; border-radius: 100%; width: 10px; height: 10px; opacity: 0.5; display: inline-block; background-color: #fff; -webkit-transition: 0.2s; transition: 0.2s; }

#pagination .active { background-color: #fff; opacity: 1; border-radius: 20px; width: 21px; }

#footer { border-top: 1px solid #eeeeee; }

#footer .footerLinks { border-bottom: 1px solid #eeeeee; }

#footer .footerLinks .footerLinks-inner { width: 1200px; height: 57px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#footer .footerLinks .footerLinks-inner .footerLinks-right { display: -webkit-box; display: -ms-flexbox; display: flex; }

#footer .footerLinks .footerLinks-inner .footerLinks-right > a { font-size: 12px; color: #666666; padding: 0 20px; position: relative; }

#footer .footerLinks .footerLinks-inner .footerLinks-right > a:first-child { padding-left: 0; }

#footer .footerLinks .footerLinks-inner .footerLinks-right > a:nth-child(4) { color: red; font-weight: bold; }

#footer .footerLinks .footerLinks-inner .footerLinks-right > a::before { display: inline-block; content: ""; position: absolute; left: 0; width: 1px; height: 16px; background-color: #eeeeee; margin-top: -8px; top: 0; bottom: 0; margin: auto; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .btnStore { display: inline-block; position: relative; margin-right: 50px; font-size: 12px; color: #666666; vertical-align: middle; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .btnStore::before { position: absolute; content: ""; display: inline-block; width: 14px; height: 21px; top: -4px; left: -24px; background: url("/images/footer/icon_104.png") 0px 0px no-repeat; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .familySite { display: inline-block; position: relative; width: 175px; height: 57px; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .familySite .btnFamily { width: 157px; height: 57px; padding: 0px 40px 0px 20px; color: #666666; font-size: 15px; text-align: left; border-left: 1px solid #eeeeee; border-right: 1px solid #eeeeee; position: relative; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .familySite .btnFamily::after { position: absolute; content: ""; display: inline-block; top: 18px; right: 20px; width: 20px; height: 20px; background: url("/images/footer/icon_130.png"); }

#footer .footerLinks .footerLinks-inner .footerLinks-left .familySite .familyBox { display: none; position: absolute; top: 57px; left: 0; right: 0; padding: 5px 0px 25px; background-color: white; border: 1px solid #eeeeee; border-top: none; width: 155px; z-index: 100; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .familySite .familyBox > a { padding: 5px 20px; font-size: 12px; color: #666666; }

#footer .footerLinks .footerLinks-inner .footerLinks-left .familySite .active { display: block; }

#footer .footerContent { width: 1200px; margin: 0 auto; padding-right: 328px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

#footer .footerContent a { display: inline-block; color: #999999; margin-left: 5px; line-height: 1; font-size: 12px; text-decoration: underline; }

#footer .footerContent .footerTitle { padding: 29px 0px 9px; color: #333333; font-size: 18px; font-weight: 900; }

#footer .footerContent > dl { margin-top: 5px; font-size: 12px; color: #666666; }

#footer .footerContent > dl > dd { display: inline-block; padding: 0px 10px 0px 0px; line-height: 19px; }

#footer .footerContent > dl > dt { line-height: 19px; display: inline-block; position: relative; }

#footer .footerContent > dl > dt:not(:first-child) { padding: 0px 0px 0px 10px; }

#footer .footerContent > dl > dt:not(:first-child)::before { content: ""; position: absolute; left: 0; top: 2px; width: 1px; height: 10px; display: inline-block; background-color: #eeeeee; }

#footer .footerContent > p { font-size: 12px; margin-top: 9px; line-height: 1.3; color: #999999; }

#footer .footerContent .footerInsurance { margin-top: 18px; }

#footer .footerContent .footerInsurance > strong { font-weight: 900; color: #333; }

#footer .footerContent .copyright { margin-top: 11px; }

#footer .footerContent .copyright > strong { font-weight: 900; }

#footer .footerContent .footerCs { position: absolute; right: -28px; top: 63px; width: 295px; padding-left: 40px; color: #999999; }

#footer .footerContent .footerCs::before { display: block; content: ""; position: absolute; top: 0px; left: 0; bottom: 0; width: 1px; background-color: #eeeeee; height: 100%; margin: auto; }

#footer .footerContent .footerCs .csTitle { margin-top: 14px; }

#footer .footerContent .footerCs .csTitle:nth-child(1) { margin-top: 0; }

#footer .footerContent .footerCs .csTitle > h3 { margin-right: 10px; display: inline-block; font-size: 12px; color: #333333; font-weight: 600; }

#footer .footerContent .footerCs .csTitle .tel { color: #597893; font-size: 13px; font-weight: 600; }

#footer .footerContent .footerCs > ul { font-size: 12px; color: #999999; }

#footer .footerContent .footerCs > ul > li { margin-top: 7px; }

#footer .footerContent .footerCs > ul > li .email { text-decoration: none; }

#footer .footerContent .footerCs button { margin-top: 9px; font-size: 12px; color: #999999; text-decoration: underline; }

#footer .footerSite { height: 56px; margin-top: 30px; background-color: #f9fafb; }

#footer .footerSite > ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 1200px; height: 100%; margin: 0 auto; }

#footer .footerSite > ul > li { width: 58px; display: inline-block; height: 26px; margin-right: 60px; background-repeat: no-repeat; }

#footer .footerSite > ul .siteLogo1 { background-image: url("/images/footer/img_footer_logo01.png"); }

#footer .footerSite > ul .siteLogo2 { background-image: url("/images/footer/img_footer_logo02.png"); }

#footer .footerSite > ul .siteLogo3 { background-image: url("/images/footer/img_footer_logo03.png"); }

#footer .footerSite > ul .siteLogo4 { background-image: url("/images/footer/img_footer_logo04.png"); }

#footer .footerSite > ul .siteLogo5 { background-image: url("/images/footer/img_footer_logo05.png"); }

#footer .footerSite > ul .siteLogo2 { width: 104px; }

#footer .footerSite > ul .siteLogo3 { width: 102px; }

#footer .footerSite > ul .siteLogo4 { width: 116px; }

#footer .footerSite > ul .siteLogo5 { width: 166px; }

#globalLinks { position: fixed; top: 0; bottom: 0; right: 0; margin: auto; z-index: 4500; display: -webkit-box; display: -ms-flexbox; display: flex; height: 412px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#globalLinks .globalLinks-inner { padding-top: 30px; position: relative; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; -webkit-box-sizing: border-box; box-sizing: border-box; width: 60px; border-right: none; border-top-left-radius: 16px; border-bottom-left-radius: 20px; background-color: #f4f6f9; height: 100%; }

#globalLinks .globalLinks-inner .switch { position: absolute; top: calc(50% - 23px); right: calc(100% - 23px); -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; width: 46px; height: 46px; z-index: 1; }

#globalLinks .globalLinks-inner .wingMiniItem { margin-top: 30px; position: relative; text-align: center; }

#globalLinks .globalLinks-inner .wingMiniItem:first-child { margin-top: 0; }

#globalLinks .globalLinks-inner .wingMiniItem .iconButton { position: relative; text-align: center; line-height: 1; color: #666666; }

#globalLinks .globalLinks-inner .wingMiniItem .iconButton > img { margin: 0 auto 6px; width: 30px; height: 30px; border-radius: 3px; overflow: hidden; }

#globalLinks .globalLinks-inner .wingMiniItem .iconButton > span { display: block; }

#globalLinks .globalLinks-inner .wingMiniItem .goToTop { padding: 10px 0; text-align: center; color: white; background-color: #666666; font-size: 12px; width: 100%; border-bottom-left-radius: 16px; }

#globalLinks .globalLinks-inner .wingMiniItem .goToTop .icon { background-image: url("/images/header/spritesheet.png"); background-repeat: no-repeat; width: 16px; height: 18px; background-position: -2524px -5px; display: inline-block; }

#globalLinks .globalLinks-inner .wingMiniItem .goToTop > span { margin-top: 5px; display: block; }

#globalLinks-content { position: fixed; top: 0; right: 0; height: 100%; z-index: 4500; }

#globalLinks-content .globalLinks-content-inner { display: none; width: 0px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; position: relative; background-color: #111111; color: #dddddd; }

#globalLinks-content .globalLinks-content-inner .switch { position: absolute; top: calc(50% - 84px); right: 100%; width: 43px; height: 168px; background: url("/images/globalLinksContent/icon_149.png"); }

#globalLinks-content .globalLinks-content-inner .switch > img { display: inline-block; }

#globalLinks-content .globalLinks-content-inner .greeting { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 30px 29px; height: 180px; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; background-color: rgba(255, 255, 255, 0.15); }

#globalLinks-content .globalLinks-content-inner .greeting > p { line-height: 1.6; font-size: 11px; color: white; }

#globalLinks-content .globalLinks-content-inner .greeting > p > strong { display: block; font-size: 15px; }

#globalLinks-content .globalLinks-content-inner .greeting > p > strong > button { color: white; text-decoration: underline; }

#globalLinks-content .globalLinks-content-inner .quickList { padding: 30px 15px 0px; }

#globalLinks-content .globalLinks-content-inner .quickList .item { width: 100%; }

#globalLinks-content .globalLinks-content-inner .quickList .item:not(:first-child) { border-top: 1px solid rgba(255, 255, 255, 0.15); }

#globalLinks-content .globalLinks-content-inner .quickList .item .title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 13px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .title > span { font-size: 15px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items { margin-bottom: 30px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items > div { position: relative; padding: 15px 10px; line-height: 16px; font-size: 12px; border-radius: 5px 5px 0px 0px; background-color: rgba(255, 255, 255, 0.15); color: #dddddd; min-height: 90px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items > div > p { margin-bottom: 10px; min-height: 16px; color: #cccccc; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items > div > img { position: absolute; top: 7px; right: 10px; width: 30px; height: 30px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items > div .content { line-height: 16px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items > button { line-height: 1; text-align: center; background-color: #494949; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 12px; height: 30px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 0px 0px 5px 5px; color: rgba(255, 255, 255, 0.5); width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#globalLinks-content .globalLinks-content-inner .quickList .item .items > button > img { margin-right: 5px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .title__link { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 15px 0px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 16px; }

#globalLinks-content .globalLinks-content-inner .quickList .item .title__link .title { font-size: 14px; margin-bottom: 0; color: #eeeeee; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems .item__title { margin-top: 30px; font-size: 14px; padding-bottom: 12px; color: #eeeeee; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > div { position: relative; width: 100%; padding: 15px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 12px; line-height: 16px; border-radius: 5px 5px 0px 0px; background-color: rgba(255, 255, 255, 0.15); color: #dddddd; min-height: 90px; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > div > div { margin: -5px 0px; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > div > div .recent { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; color: #999999; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > div > div .recent > button { margin: 5px; width: 40px; height: 40px; border-radius: 3px; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > div > div .recent > button > span { display: block; width: 100%; height: 100%; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > div > div .recent > button > span > img { width: 40px; height: 40px; border-radius: 3px; }

#globalLinks-content .globalLinks-content-inner .quickList .recentItems > button { line-height: 1; text-align: center; background-color: #494949; display: -webkit-box; display: -ms-flexbox; display: flex; height: 30px; font-size: 12px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; border-radius: 0px 0px 5px 5px; color: rgba(255, 255, 255, 0.5); }

#globalLinks-content .globalLinks-content-inner .goToTop { margin-top: auto; padding: 10px 0px; width: 100%; text-align: center; font-size: 12px; color: white; background-color: rgba(255, 255, 255, 0.15); }

#globalLinks-content .globalLinks-content-inner .goToTop > i { background-image: url("/images/header/spritesheet.png"); background-repeat: no-repeat; background-position: -2524px -5px; width: 16px; height: 18px; display: inline-block; }

#globalLinks-content .globalLinks-content-inner .goToTop > span { display: block; margin-top: 3px; }

#globalLinks-content .active { display: -webkit-box; display: -ms-flexbox; display: flex; width: 200px; }
