$url: "../images";
$imgName: "hero";

body {
  height: 100vh;
  background-image: url("#{$url}/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 50px 0;

  .heroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;

    .hero {
      box-sizing: border-box;
      width: 80px;
      height: 84px;
      margin: 4px;
      background-color: #555;
      border: 3px solid #fff;
      border-radius: 10px;
      overflow: hidden;
      transform: skewX(-14deg);
      transition: transform 0.1s, background-color 0.6s;

      &:hover {
        background-color: #ff9c00;
        transform: scale(1.3) skewX(-14deg);
        z-index: 1;
      }

      .image {
        width: 140%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90px;
        transform: skewX(14deg) translateX(-16px);
      }
      // .hero
      @for $i from 1 to 33 {
        &:nth-child(#{$i}) .image {
          background-image: url("#{$url}/#{$imgName+$i}.png");
        }
      }
    }
  }
  .logo {
    width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    img {
      width: 100%;
    }
  }
}
