@import "./media";

#section3 {
  .container {
    @include _767px() {
      padding: 0 10px 10px;
    }
    .content-Box {
      display: flex;
      flex-direction: row;
      @include _767px() {
        flex-direction: column;
      }
      .content {
        padding: 15px 2px 10px 4px;
        text-align: center;
        box-sizing: border-box;
        width: 34%;
        @include _767px() {
          width: 100%;
        }
        .img {
          img {
            max-width: 100%;
          }
        }
        .text {
          padding-top: 10px;
          @include _767px() {
            padding-top: 7px;
          }
          p,
          h1 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.85rem;
            padding-bottom: 7px;
          }
          h1 {
            font-weight: bold;
          }
        }
      }
    }
  }
}
