#footer {
  border-top: 1px solid rgb(238, 238, 238);
  .footerLinks {
    border-bottom: 1px solid rgb(238, 238, 238);
    .footerLinks-inner {
      width: 1200px;
      height: 57px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footerLinks-right {
        display: flex;

        & > a {
          font-size: 12px;
          color: rgb(102, 102, 102);
          padding: 0 20px;
          position: relative;
          &:first-child {
            padding-left: 0;
          }
          &:nth-child(4) {
            color: rgb(255, 0, 0);
            font-weight: bold;
          }

          &::before {
            display: inline-block;
            content: "";
            position: absolute;
            left: 0;
            width: 1px;
            height: 16px;
            background-color: rgb(238, 238, 238);
            margin-top: -8px;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }

      .footerLinks-left {
        .btnStore {
          display: inline-block;
          position: relative;
          margin-right: 50px;
          font-size: 12px;
          color: rgb(102, 102, 102);
          vertical-align: middle;

          &::before {
            position: absolute;
            content: "";
            display: inline-block;
            width: 14px;
            height: 21px;
            top: -4px;
            left: -24px;
            background: url("../images/footer/icon_104.png") 0px 0px no-repeat;
          }
        }

        .familySite {
          display: inline-block;
          position: relative;
          width: 175px;
          height: 57px;

          .btnFamily {
            width: 157px;
            height: 57px;
            padding: 0px 40px 0px 20px;
            color: rgb(102, 102, 102);
            font-size: 15px;
            text-align: left;
            border-left: 1px solid rgb(238, 238, 238);
            border-right: 1px solid rgb(238, 238, 238);
            position: relative;

            &::after {
              position: absolute;
              content: "";
              display: inline-block;
              top: 18px;
              right: 20px;
              width: 20px;
              height: 20px;
              background: url("../images/footer/icon_130.png");
            }
          }

          .familyBox {
            display: none;
            position: absolute;
            top: 57px;
            left: 0;
            right: 0;
            padding: 5px 0px 25px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(238, 238, 238);
            border-top: none;
            width: 155px;
            z-index: 100;

            & > a {
              padding: 5px 20px;
              font-size: 12px;
              color: rgb(102, 102, 102);
            }
          }
          .active {
            display: block;
          }
        }
      }
    }
  }
  .footerContent {
    width: 1200px;
    margin: 0 auto;
    padding-right: 328px;
    box-sizing: border-box;
    position: relative;

    a {
      display: inline-block;
      color: rgb(153, 153, 153);
      margin-left: 5px;
      line-height: 1;
      font-size: 12px;
      text-decoration: underline;
    }

    .footerTitle {
      padding: 29px 0px 9px;
      color: rgb(51, 51, 51);
      font-size: 18px;
      font-weight: 900;
    }

    & > dl {
      margin-top: 5px;
      font-size: 12px;
      color: rgb(102, 102, 102);
      & > dd {
        display: inline-block;
        padding: 0px 10px 0px 0px;
        line-height: 19px;
      }
      & > dt {
        line-height: 19px;
        display: inline-block;
        position: relative;

        &:not(:first-child) {
          padding: 0px 0px 0px 10px;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 1px;
            height: 10px;
            display: inline-block;
            background-color: rgb(238, 238, 238);
          }
        }
      }
    }

    & > p {
      font-size: 12px;
      margin-top: 9px;
      line-height: 1.3;
      color: rgb(153, 153, 153);
    }
    .footerInsurance {
      margin-top: 18px;

      & > strong {
        font-weight: 900;
        color: #333;
      }
    }
    .copyright {
      margin-top: 11px;
      & > strong {
        font-weight: 900;
      }
    }

    .footerCs {
      position: absolute;
      right: -28px;
      top: 63px;
      width: 295px;
      padding-left: 40px;
      color: rgb(153, 153, 153);

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        width: 1px;
        background-color: rgb(238, 238, 238);
        height: 100%;
        margin: auto;
      }

      .csTitle {
        &:nth-child(1) {
          margin-top: 0;
        }

        margin-top: 14px;
        & > h3 {
          margin-right: 10px;
          display: inline-block;
          font-size: 12px;
          color: rgb(51, 51, 51);
          font-weight: 600;
        }
        .tel {
          color: rgb(89, 120, 147);
          font-size: 13px;
          font-weight: 600;
        }
      }

      & > ul {
        font-size: 12px;
        color: rgb(153, 153, 153);

        & > li {
          margin-top: 7px;

          .email {
            text-decoration: none;
          }
        }
      }

      button {
        margin-top: 9px;
        font-size: 12px;
        color: rgb(153, 153, 153);
        text-decoration: underline;
      }
    }
  }
  .footerSite {
    height: 56px;
    margin-top: 30px;
    background-color: rgb(249, 250, 251);

    & > ul {
      display: flex;
      align-items: center;
      width: 1200px;
      height: 100%;
      margin: 0 auto;

      & > li {
        width: 58px;
        display: inline-block;
        height: 26px;
        margin-right: 60px;
        background-repeat: no-repeat;
      }

      $total: 6;

      @for $i from 1 to $total {
        .siteLogo#{$i} {
          background-image: url("../images/footer/img_footer_logo0#{$i}.png");
        }
      }

      .siteLogo2 {
        width: 104px;
      }
      .siteLogo3 {
        width: 102px;
      }
      .siteLogo4 {
        width: 116px;
      }
      .siteLogo5 {
        width: 166px;
      }
    }
  }
}
