html {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
}
body {
  min-width: 1230px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
