#header {
  border-bottom: 2px solid rgb(254, 6, 5);
  .container {
    width: 1200px;
    margin: 0 auto;
    .search {
      padding-top: 29px;
      padding-bottom: 20px;
      .flex-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex-item {
          .search-box {
            width: 500px;
          }
          .search-box {
            position: relative;
            border: 1px solid rgb(183, 183, 183);
            height: 45px;
            width: 564px;
            border-radius: 30px;
            padding-right: 80px;
            box-sizing: border-box;
            & > input {
              width: 100%;
              border: none;
              height: 45px;
              padding: 10px 20px 11px;
              font-size: 15px;
              color: rgb(51, 51, 51);
              background-color: transparent;
              outline: none;
            }
            .search-icon {
              position: absolute;
              width: 24px;
              height: 24px;
              top: 0;
              right: 20px;
              background-image: url("../images/header/search.svg");
              background-size: 24px auto;
              background-repeat: no-repeat;
              bottom: 0;
              margin: auto;
              cursor: pointer;
            }
          }
          .links {
            width: 168px;
            margin-left: 30px;
            font-size: 0;

            button {
              width: 36px;
              height: 36px;
            }

            .btnLogin {
              background: url("../images/header/header_spritesheet.png") 0px 0px
                no-repeat;
            }
            .userWrap {
              position: relative;
              display: inline-block;
              .btnUser {
                margin: 0 30px;
                background: url("../images/header/header_spritesheet.png") 0px -36px
                  no-repeat;
                &:hover {
                  background: url("../images/header/header_spritesheet.png") -36px -36px
                    no-repeat;
                }
              }

              .userLinkList {
                display: none;
                margin-top: -10px;
                position: absolute;
                z-index: 1;
                border-radius: 2px;
                padding: 8px 0;
                width: 103px;
                background-color: #fff;
                box-shadow: 0px 2px 4px 0px rgba($color: #000000, $alpha: 0.5);
                top: 46px;
                & > button {
                  width: 100%;
                  font-size: 11px;
                  display: block;
                  padding: 6px 15px;
                  color: rgb(102, 102, 102);
                  line-height: 14px;
                  height: 25px;
                  font-size: 900;

                  &:hover {
                    background-color: rgba(
                      $color: rgb(102, 102, 102),
                      $alpha: 0.1
                    );
                    color: rgb(254, 6, 5);
                  }
                }
              }
              .active {
                display: block;
              }
            }
            .btnCart {
              background: url("../images/header/header_spritesheet.png") 0px -72px
                no-repeat;
            }
          }
        }
      }
    }

    #nav {
      position: relative;
      .catagori {
        position: absolute;
        width: 149px;
        height: 43px;
        padding: 2px 0 0 25px;
        background: url("../images/header/spritesheet.png") -1526px -5px
          no-repeat transparent;
        text-align: left;
        & > span {
          color: #fff;
          font-size: 15px;
          .icon {
            background: url("../images/header/spritesheet.png");
            background-repeat: no-repeat;
            background-position: -1456px -5px;
            height: 11px;
            width: 10px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 6px;
            margin-right: 10px;
          }
        }
      }

      .navbar-box {
        padding: 0px 0px 0px 149px;
        display: flex;
        .navbar-item {
          flex: 1;
          text-align: center;
          & > a {
            color: #333;
            padding: 0px 5px;
            font-size: 15px;
            line-height: 43px;
            height: 43px;

            &:hover {
              color: rgb(254, 6, 5);
            }
          }

          &:nth-child(1),
          &:nth-child(5) {
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: 5px;
              height: 5px;
              display: inline-block;
              background-color: red;
              border-radius: 50%;
              top: 7px;
              right: 25px;
            }
          }
        }
      }
    }
  }
}
