@import "./variable";

@mixin login_img($_img) {
  &::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
    background-image: url($_img);
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    filter: invert(51%) sepia(0%) saturate(2405%) hue-rotate(183deg) brightness(91%) contrast(86%);
  }
}

@mixin right_btn {
  &::after {
    content: "";
    width: 8px;
    height: 12px;
    display: inline-block;
    margin: 6px 9px;
    vertical-align: top;
    background-image: url("/images/main/arrow_back_ios_black_18dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@mixin left_btn {
  &::after {
    content: "";
    width: 8px;
    height: 12px;
    display: inline-block;
    margin: 6px 9px;
    vertical-align: top;
    background-image: url("/images/main/arrow_forward_ios_black_18dp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#main {
  .container {
    position: relative;
    width: 1130px;
    margin: 0 auto;
    padding: 20px 30px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .column_left {
      width: 750px;
      float: left;
      .veta_top {
        background-image: url("/images/nav/veta_img.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 20%;
        position: relative;
        & > a {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
        }
      }
      .newsstand {
        margin-top: 12px;
        .news_issue {
          padding: 12px 15px 11px 15px;
          border: 1px solid #dae1e6;
          background-color: #f7f9fa;
          line-height: 24px;
          position: relative;
          .issue_left {
            float: left;

            & > a {
              float: left;
              margin-right: 7px;
              font-size: 13px;
              font-weight: 700;
              line-height: 24px;
              color: $naver_black;
              &::after {
                content: "";
                vertical-align: middle;
                margin-bottom: 2px;
                display: inline-block;
                background-image: url("/images/nav/next_black_18dp.svg");
                width: 18px;
                height: 18px;
              }
            }
            .issue_rolling {
              float: left;
              width: 310px;
              height: 24px;
              position: relative;
              overflow: hidden;
              .issue_item {
                transition: 0.5s;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                & > a {
                  display: inline;
                  vertical-align: top;
                  line-height: 24px;
                  font-size: 13px;
                  font-weight: 400;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .direct_area {
              float: right;
            }
          }
          .issue_right {
            float: right;

            .direct_area {
              & > a {
                line-height: 24px;
                font-weight: 700;
                font-size: 13px;
                color: $naver_black;
                &:first-child {
                  color: #3565c9;
                  &::after {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 3px;
                    height: 3px;
                    margin-left: 10px;
                    background-color: #dae1e6;
                    border-radius: 50%;
                  }
                }
                &:hover {
                  text-decoration: underline;
                }
              }
              & > a:nth-child(n + 2) {
                margin: 0 4px 0 7px;
              }
            }
          }

          &::after {
            content: "";
            display: block;
            clear: both;
          }
        }
      }
      .newstitle {
        padding: 22px 0px 16px 0px;

        & > a {
          float: left;
          color: $naver_black;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2px;
            margin-left: 3px;
            background-image: url("/images/nav/next_black_18dp.svg");
            width: 18px;
            height: 18px;
          }
        }

        .subscribe {
          float: left;
          line-height: 20px;
          margin-left: 10px;
          & > a {
            display: inline-block;
            font-size: 14px;
            vertical-align: bottom;
          }

          & > a:first-child {
            &::after {
              content: "";
              display: inline-block;
              width: 5px;
              height: 5px;
              margin-left: 10px;
              margin-right: 5px;
              margin-bottom: 2px;
              vertical-align: middle;
              background-color: #dae1e6;
              border-radius: 50%;
            }
          }

          & > a:last-child {
            font-weight: 900;
          }
        }
        .icons {
          float: right;
          line-height: 20px;
          & > a {
            vertical-align: middle;
            padding: 0 9px;
            height: 18px;
            width: 10px;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            filter: invert(68%) sepia(0%) saturate(2593%) hue-rotate(221deg) brightness(99%) contrast(87%);
          }

          & > a:nth-child(1) {
            background-image: url("/images/nav/reorder_black_24dp.svg");
            width: 10px;
            height: 20px;
          }
          & > a:nth-child(2) {
            background-image: url("/images/nav/grid_view_black_18dp.svg");
            filter: invert(34%) sepia(81%) saturate(3475%) hue-rotate(198deg) brightness(103%) contrast(105%);
          }
          & > a:nth-child(3) {
            background-image: url("/images/nav/settings_black_18dp.svg");
          }
        }

        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .newssview {
        position: relative;
        .newssview_slider_wrap {
          overflow: hidden;
          .slider {
            float: left;
            .item {
              float: left;
              width: 750px;
              transition: 0.2s;
              .row {
                border-left: 1px solid #e4e8eb;
                border-right: 1px solid #e4e8eb;
                border-bottom: 1px solid #e4e8eb;
                & > a {
                  position: relative;
                  float: left;
                  width: 16.65%;
                  height: 65px;
                  padding: 23px 0 22px 0;
                  box-sizing: border-box;
                  text-align: center;
                  & > img {
                    display: inline-block;
                    height: 20px;
                  }
                  .btn {
                    display: none;
                    font-size: 0px;
                    position: absolute;
                    margin: auto;
                    height: 20px;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    & > span {
                      font-size: 12px;
                      vertical-align: bottom;
                      align-items: center;
                      height: 100%;
                      padding: 5px 5px;
                      background-color: #fff;
                      border: 1px solid #dae1e6;
                      display: inline-flex;
                      align-items: center;
                      position: relative;
                      top: -5px;
                      &:hover {
                        border: 1px solid $naver_black;
                      }
                    }
                  }

                  &:hover {
                    background-color: rgba($color: #f7f9fa, $alpha: 0.7);
                    .btn {
                      display: block;
                    }
                  }
                }

                & > a:nth-child(n + 2) {
                  border-left: 1px solid #e4e8eb;
                }

                &::after {
                  content: "";
                  display: block;
                  clear: both;
                }
              }
              .row:first-child {
                & > a {
                  border-top: 1px solid #e4e8eb;
                }
              }
            }
          }
        }
        .newsLeftBtn,
        .newsRightBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 50%;
          position: absolute;
          width: 44px;
          height: 44px;
          top: 42%;
          cursor: pointer;
          z-index: 1;
          background-color: #fff;
          box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.1);
        }
        .newsRightBtn {
          right: -3%;
          img {
            padding-left: 4px;
          }
        }
        .newsLeftBtn {
          display: none;
          left: -3%;
          img {
            padding-right: 4px;
          }
        }
      }
      .themecast {
        padding: 35px 0 27px 0;
        .subject_head {
          padding-bottom: 17px;
          .subject_left {
            float: left;

            & > span {
              &:first-child {
                font-size: 14px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: -0.25px;
              }
              &:last-child {
                color: grey;
                font-size: 12px;
                line-height: 16px;
                margin-left: 8px;
              }
            }
          }
          .subject_right {
            float: right;
            & > span {
              color: grey;
              font-size: 12px;
              line-height: 16px;
              & > strong {
                color: $naver_black;
                font-weight: 900;
              }

              &::after {
                content: "";
                display: inline-block;
                width: 1px;
                height: 10px;
                margin-left: 10px;
                margin-bottom: 2px;
                border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
                vertical-align: middle;
              }
            }

            & > a {
              font-size: 12px;
              line-height: 16px;
              margin-left: 14px;
              &::before {
                vertical-align: middle;
                content: "";
                display: inline-block;
                background-image: url("/images/nav/settings_black_18dp.svg");
                width: 18px;
                height: 18px;
                margin-right: 5px;
              }

              &:hover {
                text-decoration: underline;
                &::before {
                  filter: invert(48%) sepia(94%) saturate(1846%) hue-rotate(159deg) brightness(92%) contrast(101%);
                }
              }
            }
          }

          &::after {
            content: "";
            display: block;
            clear: both;
          }
        }
        .main_category {
          position: relative;

          .slider_wrap {
            overflow: hidden;
            .main_category_slider {
              float: left;
              .main_category {
                transition: 0.1s;
                float: left;
                .item {
                  position: relative;
                  float: left;
                  width: 93.75px;
                  box-sizing: border-box;
                  border-top: 1px solid #dae1e6;
                  border-bottom: 1px solid #dae1e6;
                  border-right: 1px solid #dae1e6;
                  & > a {
                    display: block;

                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    line-height: 49px;
                  }

                  &:first-child {
                    border-left: 1px solid #dae1e6;
                  }
                }
              }
            }
          }
          #main_category_right_Btn,
          #main_category_left_Btn {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 44px;
            height: 44px;
            z-index: 1;
            border-radius: 50%;
            box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.1);
            background-color: #fff;
            cursor: pointer;
          }
          #main_category_right_Btn {
            right: -3%;
            img {
              padding-left: 3px;
            }
          }
          #main_category_left_Btn {
            left: -3%;
            img {
              padding-right: 3px;
            }
          }
        }

        .theme_content {
          .content_two_cut {
            padding: 22px 0 18px 0;
            .two_cut_left {
              float: left;
              width: 364px;
              .content {
                .view {
                  overflow: hidden;
                  display: block;
                  position: relative;
                  & > img {
                    display: block;
                    transition: 0.3s;
                    max-width: 100%;
                    max-height: 100%;
                  }
                  .running_time {
                    position: absolute;
                    bottom: 5%;
                    right: 3%;
                    font-size: 12px;
                    line-height: 14px;
                    color: #fff;
                    background-color: #000000;
                    border-radius: 2px;
                    padding: 3px 6px;
                  }
                }
                .text {
                  padding: 16px 18px 0 0;
                  display: block;
                  & > em {
                    display: block;
                    color: #0147b5;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                  }
                  & > strong {
                    line-height: 22px;
                    font-size: 13px;
                    font-weight: 700;
                    color: #202020;
                    display: block;
                    margin-top: 3px;
                  }
                  & > span {
                    font-size: 12px;
                    line-height: 16px;
                  }
                  &:hover {
                    & > strong {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &:last-child {
                margin-left: 22px;
              }

              &:hover {
                img {
                  transform: scale(1.05);
                }
              }
            }
            &::after {
              content: "";
              display: block;
              clear: both;
            }
          }

          .theme_link {
            font-size: 13px;
            font-weight: 700;
            border: 1px solid #dae1e6;
            background-color: #f7f9fa;
            padding: 11px 16px;
            .main_link {
              position: relative;
              display: inline-block;
              margin-right: 16px;
              padding: 5px 0px 4px;
              color: #0147b5;
              font-size: 13px;
              font-weight: 700;
              line-height: 16px;

              &::after {
                position: absolute;
                content: "";
                display: inline-block;
                top: 0;
                bottom: 0;
                right: -16px;
                width: 1px;
                border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
              }
              &:hover {
                text-decoration: underline;
              }
            }
            .link_catagory {
              display: inline-flex;
              padding-left: 17px;
              .item {
                display: inline-block;
                margin-left: 28px;
                &:first-child {
                  margin-left: 0;
                }
                & > a {
                  padding: 5px 0 4px 0;
                  font-size: 13px;
                  font-weight: 700;

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

          .group_theme {
            &:nth-child(4) {
              border-top: 1px solid #e4e8eb;
            }
            .media_view {
              font-size: 0px;
              padding-top: 18px;
              padding-bottom: 17px;
              margin: 0 -27px -31px 0;
              .media_area {
                display: inline-block;
                width: 232px;
                font-size: 12px;
                line-height: 20px;
                vertical-align: top;
                margin-right: 27px;
                margin-bottom: 31px;
                .media_thumb {
                  overflow: hidden;
                  position: relative;
                  & > img {
                    transition: 0.3s;
                    display: block;
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                  }
                  .time {
                    position: absolute;
                    right: 8px;
                    bottom: 6px;
                    color: #dae1e6;
                    font-size: 10px;
                    line-height: 14px;
                    background-color: rgba($color: #000000, $alpha: 0.8);
                    padding: 2px 4px;
                  }
                }
                .media_info {
                  padding-top: 12px;
                  & > em {
                    display: block;
                    color: #0147b5;
                    font-size: 12px;
                    margin-bottom: 2px;
                    line-height: 20px;
                    font-weight: 700;
                  }
                  & > strong {
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: 700;
                    max-height: 40px;
                  }

                  & > div {
                    margin-top: 3px;
                    & > span {
                      font-size: 12px;
                      color: #505050;
                      line-height: 20px;

                      &:first-child {
                        &::after {
                          display: inline-block;
                          vertical-align: middle;
                          margin-left: 5px;
                          margin-bottom: 2px;
                          content: "";
                          width: 2.5px;
                          height: 2.5px;
                          background-color: rgba($color: #000000, $alpha: 0.5);
                          border-radius: 50%;
                        }
                      }
                    }
                  }
                }

                &:hover {
                  strong {
                    text-decoration: underline;
                  }
                  img {
                    transform: scale(1.05);
                  }
                }
              }
            }
          }

          .btn_more_wrap {
            position: relative;
            padding-top: 18px;
            margin-bottom: 42px;
            border-bottom: 1px solid #e4e8eb;
            .btn_more {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: auto;
              border: none;
              color: #505050;
              cursor: pointer;
              background-color: transparent;
              font-size: 12px;
              .ico_more {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: block;
                margin: 0 auto 5px;
                background-color: #fff;
                background-image: url("/images/main/plus.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
    .column_right {
      position: sticky;
      width: 350px;
      float: right;
      top: 0;
      .login_box {
        padding: 16px 16px 12px 17px;
        border: 1px solid #dae1e6;
        background-color: #f7f9fa;

        .login_msg {
          font-size: 12px;
          color: #777;
          padding-left: 3px;
          line-height: 16px;
        }
        .login {
          display: block;
          text-align: center;
          padding: 15px 0;
          margin-top: 11px;
          border: 1px solid $naver_color;
          background-color: $naver_color;
          color: #fff;
          font-weight: 700;
          border-radius: 2px;
        }
        .security_box {
          margin: 14px 8px 0px 4px;

          & > a {
            font-size: 12px;
            color: #404040;
            &:first-child {
              @include login_img("/images/main/lock.png");
            }

            &:nth-child(2) {
              &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 2px;
                margin-right: 5px;
                width: 2.5px;
                height: 2.5px;
                border-radius: 50%;
                background-color: #d7dce0;
              }
            }

            &:last-child {
              float: right;
              @include login_img("/images/main/add-user.png");
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .timesquare {
        height: 47px;
        margin: 12px 0;
        border: 1px solid #dae1e6;
        position: relative;
        .timesquare-wrap {
          padding: 14px 0 13px 16px;
          & > a {
            font-size: 13px;
            color: #202020;

            & > span {
              vertical-align: middle;
              &:first-child {
                font-size: 11px;
                font-weight: 900;
                border-radius: 20px;
                border: 1px solid #202020;
                padding: 1.5px 7px;
                height: 18px;
                line-height: 20px;
                margin-right: 8px;
                vertical-align: top;
              }
            }

            &:hover {
              & > span {
                &:last-child {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .direction_box {
          position: absolute;
          top: 50%;
          margin-top: -15px;
          right: 10px;
          font-size: 0px;
          & > a {
            display: inline-block;
            border: 1px solid #e4e8eb;
            background-color: #fff;
            &:first-child {
              @include right_btn();
            }
            &:last-child {
              @include left_btn();
            }
          }
        }
      }
      .advertising {
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        & > a {
          & > img {
            max-width: 100%;
            display: block;
          }
        }
      }
      .shopcast {
        margin-top: 15px;
        .shopcast_wrap {
          width: 350px;
          height: 1539px;
          background-color: #fff;
          letter-spacing: -0.25px;
          .shop_header {
            padding: 12px 0 13px;
            line-height: 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .link_shop {
              margin: 2px 0 0 1px;
              line-height: 17px;
              & > a {
                font-size: 13px;
                font-weight: 900;
                color: #000000;

                &:hover {
                  text-decoration: underline;
                }
                &::before {
                  content: "";
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  vertical-align: middle;
                  margin-bottom: 3px;
                  margin-right: 2px;
                  background-image: url("/images/main/naver_logo.webp");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
                &::after {
                  content: "";
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  vertical-align: middle;
                  margin-bottom: 2px;
                  background-image: url("/images/main/arrow_forward_ios_black_18dp.svg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              }
            }

            & > ul {
              & > li {
                display: inline-block;

                &:first-child {
                  & > a {
                    color: $naver_color;
                    border-bottom: 2px solid $naver_color;
                  }
                }

                &:nth-child(n + 2) {
                  margin-left: 15px;
                }
                & > a {
                  font-size: 13px;
                  font-weight: 900;
                }
              }
            }
          }
          .contents {
            border: 1px solid #e4e8eb;
            .group_mall {
              padding: 12px 4px 11px 10px;
              background-color: #f7f9fa;
              border-bottom: 1px solid #dae1e6;
              .mall_area {
                & > a {
                  line-height: 23px;
                  color: #404040;
                  font-size: 12px;
                  &:nth-child(n + 2) {
                    &::before {
                      content: "";
                      display: inline-block;
                      vertical-align: middle;
                      margin-bottom: 2px;
                      margin-right: 10px;
                      margin-left: 10px;
                      width: 3px;
                      height: 3px;
                      border-radius: 50%;
                      background-color: #d7dce0;
                    }
                  }

                  &:hover {
                    text-decoration: underline;
                  }
                }
                &:last-child {
                  & > a {
                    &:nth-child(n + 2) {
                      &::before {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 2px;
                        margin-right: 8px;
                        margin-left: 5px;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #d7dce0;
                      }
                    }
                  }
                }
              }
            }
            .group_goods {
              padding: 50px 8px 22px;
              position: relative;
              .list_goods_wrap {
                overflow: hidden;
                .slider {
                  float: left;
                  width: 664px;
                  .list_goods {
                    font-size: 0px;
                    float: left;
                    width: 332px;
                    transition: 0.5s;

                    .goods_item {
                      margin-top: 10px;
                      width: 33.33%;
                      display: inline-block;

                      & > a {
                        margin-right: 2.5px;
                        margin-left: 2.5px;
                        display: block;

                        .thumb_box {
                          overflow: hidden;
                          position: relative;
                          & > img {
                            max-width: 100%;
                            width: 100%;
                            height: 146px;
                            transition: 0.3s;
                          }
                          .thumb_bd {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border: 1px solid rgba($color: #000000, $alpha: 0.1);
                          }
                        }
                        .title_box {
                          margin-top: 5px;
                          .title {
                            display: block;
                            line-height: 16px;
                            text-align: center;
                            font-size: 12px;

                            &:first-child {
                              font-weight: 700;
                            }
                          }
                        }
                      }
                      &:hover {
                        img {
                          transform: scale(1.03);
                        }
                        span {
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }

              .btn {
                margin-top: 18px;
                text-align: center;
                .num_box {
                  width: 61px;
                  min-width: 61px;
                  line-height: 29px;
                  color: gray;
                  text-align: center;
                  vertical-align: top;
                  font-size: 12px;
                  display: inline-block;
                }

                & > a {
                  vertical-align: top;
                  display: inline-block;
                  border: 1px solid #dae1e6;
                  &:first-child {
                    @include right_btn();
                  }
                  &:last-child {
                    @include left_btn();
                  }
                }
              }
              .btn_ab {
                position: absolute;
                top: 0;
                right: 10px;
                margin-top: 18px;
                text-align: center;
                font-size: 0px;
                .num_box {
                  width: 61px;
                  min-width: 61px;
                  line-height: 29px;
                  color: gray;
                  text-align: center;
                  vertical-align: top;
                  font-size: 12px;
                  display: inline-block;
                }

                & > a {
                  vertical-align: top;
                  display: inline-block;
                  border: 1px solid #dae1e6;
                  &:nth-child(2) {
                    @include right_btn();
                  }
                  &:last-child {
                    @include left_btn();
                  }
                }
              }
            }
            .group_event {
              border-top: 1px solid #e4e8eb;
              margin: 0 8px;
              padding: 19px 0 17px;
              .shop_title {
                position: relative;
                padding-left: 5px;
                .title {
                  font-size: 13px;
                }
                .shop_control {
                  position: absolute;
                  top: -6px;
                  right: 0;
                  font-size: 0px;
                  .num_box {
                    width: 41px;
                    line-height: 29px;
                    color: gray;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 12px;
                    display: inline-block;
                  }

                  & > a {
                    vertical-align: middle;
                    display: inline-block;
                    border: 1px solid #dae1e6;
                    &:nth-child(2) {
                      @include right_btn();
                    }
                    &:last-child {
                      @include left_btn();
                    }
                  }
                }
              }
              .group_event_slider_wrap {
                overflow: hidden;
                .group_event_slider {
                  float: left;
                  .list_event {
                    transition: 0.5s;
                    padding: 13px 5px 0;
                    box-sizing: border-box;
                    line-height: 28px;
                    float: left;
                    .event_item {
                      & > a {
                        display: block;
                        color: #202020;
                        font-size: 12px;
                        .title {
                          margin-right: 13px;
                          color: #000;
                          font-weight: 700;
                        }

                        &::before {
                          content: "";
                          display: inline-block;
                          vertical-align: middle;
                          margin-bottom: 2px;
                          margin-right: 7px;
                          margin-left: 7px;
                          width: 4px;
                          height: 4px;
                          border-radius: 50%;
                          background-color: $naver_color;
                        }

                        &:hover {
                          .title,
                          .dsc {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .group_plus {
              position: relative;
              padding: 55px 0px 30px;
              margin: 0px 8px;
              border-top: 1px solid #e4e4e4;
              .shop_category {
                position: absolute;
                top: 20px;
                left: 5px;

                & > a {
                  font-size: 13px;
                  font-weight: 700;
                  &:first-child {
                    color: $naver_color;
                    border-bottom: 2px solid $naver_color;
                  }
                  &:nth-child(n + 2) {
                    margin-left: 13px;
                  }
                }
              }
              .list_goods_wrap {
                overflow: hidden;
                .list_goods_slider {
                  float: left;
                  .list_goods {
                    transition: 0.5s;
                    float: left;
                    font-size: 0px;
                    .goods_item {
                      width: 50%;
                      display: inline-block;
                      & > a {
                        display: block;
                        margin-right: 2.5px;
                        margin-left: 2.5px;
                        .thumb_box {
                          overflow: hidden;
                          & > img {
                            display: block;
                            max-width: 100%;
                            width: 100%;
                            transition: 0.3s;
                          }
                        }
                        .title_box {
                          margin-top: 9px;
                          text-align: center;
                          .title {
                            font-size: 12px;
                            font-weight: 700;
                          }
                        }

                        &:hover {
                          img {
                            transform: scale(1.03);
                          }
                          .title {
                            text-decoration: underline;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .btn_ab {
                position: absolute;
                top: 14px;
                right: 0;
                text-align: center;
                font-size: 0px;
                .num_box {
                  width: 41px;
                  line-height: 29px;
                  color: gray;
                  text-align: center;
                  vertical-align: top;
                  font-size: 12px;
                  display: inline-block;
                }

                & > a {
                  vertical-align: top;
                  display: inline-block;
                  border: 1px solid #dae1e6;
                  &:nth-child(2) {
                    @include right_btn();
                  }
                  &:last-child {
                    @include left_btn();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
