@import "./media";

#footer {
  margin-top: 50px;
  border: 1px solid transparent;
  background: #efefef;
  @include _767px() {
    margin-top: 10px;
    border-top: 2px solid #b6b6b6;
  }
  .container {
    padding: 0 20px;
    box-sizing: border-box;
    .content {
      & > .service_center {
        margin: 12.5px -10px 18.75px -10px;
        display: flex;
        @include _1024px() {
          height: 89px;
          padding: 21px 0 35px 0;
          border-bottom: 1px solid #ccc;
        }
        .faq,
        .Find_store,
        .subscribe,
        .sns {
          flex: 1;
        }
        .faq {
          display: none;
          padding: 0 12.5px;
          @include _1400() {
            display: block;
          }
          & > label {
            display: inline-block;
            font-size: 1.325rem;
            font-weight: 400;
            color: #333;
            line-height: 29px;
            margin-bottom: 5px;
          }
          & > a {
            line-height: 20px;
            color: #0060a9;
            font-weight: bold;
            font-size: 18px;
            &::before {
              content: "?";
              margin-right: 10px;
              color: #efefef;
              border-radius: 50%;
              background: #0060a9;
              height: 25px;
              width: 25px;
              display: inline-block;
              text-align: center;
              padding: 0;
            }
            &:hover {
              & > span {
                text-decoration: underline;
              }
            }
          }
        }
        .Find_store {
          display: none;
          padding: 0 12.5px;
          @include _1024px() {
            display: block;
          }
          & > label {
            display: inline-block;
            font-size: 1.325rem;
            font-weight: 400;
            color: #333;
            line-height: 29px;
            margin-bottom: 5px;
          }
          .store__input {
            position: relative;
            & > input {
              min-height: 40px;
              border: 1px solid #9c9c9c;
              display: block;
              width: 100%;
              box-sizing: border-box;
              height: 40px;
              padding: 10px 16px;
              font-size: 18px;
              line-height: 1.3333333;
              border-radius: 0;
              color: #333333;

              &:focus {
                outline: none;
              }
            }

            & > img {
              position: absolute;
              right: 2%;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 35px;
              filter: invert(25%) sepia(69%) saturate(1552%) hue-rotate(182deg) brightness(98%) contrast(105%);
            }
          }
        }
        .subscribe {
          padding: 0 12.5px;
          & > label {
            display: inline-block;
            font-size: 1.325rem;
            font-weight: 400;
            color: #333;
            line-height: 29px;
            margin-bottom: 14px;
            @include _767px() {
              margin-bottom: 5px;
            }
          }
          p {
            color: #0060a9;
            font-size: 24px;
          }
        }
        .sns {
          display: none;
          padding: 0 12.5px;
          @include _1400() {
            display: block;
          }
          & > label {
            display: inline-block;
            font-size: 1.325rem;
            font-weight: 400;
            color: #333;
            line-height: 29px;
            margin-bottom: 5px;
          }
          .icons {
            display: flex;
            .icon {
              padding-right: 15px;
              img {
                width: 100%;
                width: 32px;
              }
            }
          }
        }
      }
      .information {
        margin: 0 -12.5px;
        display: none;
        @include _767pxMin() {
          display: flex;
        }
        .introduce,
        .membership,
        .service_center,
        .store,
        .partners {
          flex: 1;
          padding-bottom: 18.75px;
          & > ul {
            & > li {
              &:nth-child(1) {
                margin-bottom: 10px;
                font-size: 18px;
                color: #333;
                & > h1 {
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
              margin-bottom: 7px;
              line-height: 24px;
              & > a {
                font-size: 14px;
                color: #5f5f5f;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .bottom {
        border-top: 1px solid #cccccc;
        margin: 14px 0;
        .terms_of_service {
          margin: 1.5em 0;
          display: flex;
          justify-content: center;
          & > ul {
            @include _767px() {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              gap: 5px;
            }
            & > li {
              display: inline-block;
              padding: 0 6.2px;
              &:nth-child(2) {
                & > a {
                  color: blue;
                  font-weight: bold;
                }
              }
              & > a:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .icons {
          display: flex;
          margin-bottom: 10px;
          justify-content: center;
          @include _1400() {
            display: none;
          }
          .icon {
            padding-right: 15px;
            img {
              width: 100%;
              width: 32px;
            }
          }
        }
        .buisnessman {
          display: flex;
          flex-direction: column;
          @include _1024px() {
            flex-direction: row;
          }
          & > div {
            padding: 10px 10px;
            &:nth-child(1) {
              @include _1024px() {
                width: 73%;
              }
              & > p {
                font-size: 14px;
                font-weight: 400;
                line-height: 19.4px;
                & > a {
                  display: inline;
                  text-decoration: underline;
                }
              }
              .img {
                display: flex;
                margin-top: 14.578px;
                & > img {
                  max-width: 32px;
                  margin-right: 5px;
                }
                & > div {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 5px;
                  font-size: 13px;
                }
              }
            }
            &:nth-child(2) {
              @include _1024px() {
                width: 25%;
              }
              font-size: 14px;
              color: #5f5f5f;
              & > strong {
                font-weight: bold;
                line-height: 18px;
              }
              & > p {
                line-height: 18px;
              }
            }
          }
        }
        .since {
          text-align: center;
          padding: 10px 0;
          color: #5f5f5f;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 3rem;
          line-height: 1.2rem;
          box-sizing: border-box;
        }
      }

      .information767pxDownBlock {
        display: none;
        @include _767px() {
          display: block;
        }
        .introduce,
        .membership,
        .store,
        .partners,
        .country,
        .Languages,
        .service_center {
          .title {
            padding: 0.9375rem 0.9375rem 0.9375rem 0;
            border-top: 1px solid #ccc;
            cursor: pointer;
            position: relative;
            & > a {
              font-size: 1.5rem;
            }

            .cross {
              position: absolute;
              width: 31px;
              height: 2px;
              background-color: #3071a9;
              display: block;
              right: 2%;
              top: 0;
              bottom: 0;
              margin: auto;

              &::before {
                content: "";
                height: 31px;
                width: 2px;
                background-color: #3071a9;
                display: block;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
              }
            }
            .cross_clicked {
              position: absolute;
              width: 31px;
              height: 2px;
              background-color: #3071a9;
              display: block;
              right: 2%;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
          & > ul {
            box-sizing: border-box;
            overflow: hidden;
            padding: 0;
            height: 0;
            transition: 0.5s;
            & > li {
              margin-bottom: 7px;
              line-height: 24px;
              padding-left: 15px;
              & > a {
                font-size: 1rem;
                color: #5f5f5f;
              }
              &:hover a {
                text-decoration: underline;
              }
            }
          }

          .clicked {
            padding: 0.55em 0 1em 0;
          }
        }
      }
    }
  }
}
