@import "./media";

#section2 {
  .container {
    @include _767px() {
      padding: 0 10px 10px;
    }
    .content-Box {
      display: flex;
      flex-wrap: wrap;
      .content {
        padding: 0 2px 15px;
        box-sizing: border-box;
        text-align: center;
        width: 25%;
        @include _767px() {
          width: 50%;
        }
        .img {
          img {
            max-width: 100%;
          }
        }
        .text {
          padding-top: 10px;
          @include _767px() {
            padding-top: 7px;
          }
          p,
          h1 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.85rem;
          }
          h1 {
            font-weight: bold;
            padding-bottom: 7px;
          }
        }
      }
    }
  }
}
