@import "./media";

#section11 {
  .container {
    padding: 30px 10px 0;
    .content-Box {
      display: flex;
      flex-wrap: wrap;
      .content {
        padding: 0 10px 0;
        width: 50%;
        box-sizing: border-box;
        @include _767px() {
          padding: 0 10px 10px;
          width: 100%;
        }
        .img {
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        &:nth-child(2) {
          display: flex;
          flex-direction: column;
        }

        .main {
          display: flex;
          background-color: #deefff;
          .main__content {
            position: relative;
            padding: 5px;
            width: 50%;
            .content__img {
              img {
                max-width: 100%;
              }
            }
            .content__text {
              text-align: center;
              & > p {
                font-size: 0.7rem;
                font-weight: bold;
                padding: 5px;
                margin: 5px 11.8px 14.8px;
              }
            }
            & > img {
              position: absolute;
              top: 5px;
              right: 5px;
              width: 42px;
              @include _668px() {
                width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
