@import "./_header.scss";
@import "./_nav.scss";
@import "./_section1.scss";
@import "./_section2.scss";
@import "./_section3.scss";
@import "./_section4.scss";
@import "./_section5.scss";
@import "./_section6.scss";
@import "./_section7.scss";
@import "./_section8.scss";
@import "./_section9.scss";
@import "./_section10.scss";
@import "./_section11.scss";
@import "./_section12.scss";
@import "./_section13.scss";
@import "./_section14.scss";
@import "./_section15.scss";
@import "./_footer.scss";
